<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <%- include('partials/header/navbar2') %>

  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero2-section-area" style="background-image: url(/img/all-images/bg/hero-bg2.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero2-heading">
            <h5 data-aos="fade-left" data-aos-duration="800">Top #1 Business And Finance</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Helping Businesses Thrive with Tailored Financial Services</h2>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <div class="space24 d-lg-none d-block"></div>
          <div class="others-content">
            <div class="auhtor-content" data-aos="fade-left" data-aos-duration="900">
              <img src="/img/all-images/others/author-img1.png" alt="" />
              <div class="text">
                <h4><span class="counter">850</span>+</h4>
                <div class="space8"></div>
                <p>Happy Customer's</p>
              </div>
            </div>
            <div class="space22"></div>
            <p data-aos="fade-left" data-aos-duration="1000">Whether you looking to streamline operations, increase profitablity navigate complex market challenges, our team of experts is here to help.</p>
            <div class="space22"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1100">
              <a href="contact" class="vl-hero-btn">Let’s Get Started <i class="fa-solid fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="row">
        <div class="col-lg-4">
          <div class="hero-video-img">
            <img src="/img/elements/elements8.png" alt="" class="elements8 keyframe5" />
            <div class="img1 reveal">
              <img src="/img/all-images/others/hero-h2-img1.png" alt="" />
            </div>
            <div class="play-btn">
              <a href="https://www.youtube.com/watch?v=Y8XpQpW5OVY" class="popup-youtube"><i class="fa-solid fa-play"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="space40 d-lg-none d-block"></div>
          <div class="hero-imges-content">
            <img src="/img/elements/elements9.png" alt="" class="elements9" />
            <div class="img1 image-anime reveal">
              <img src="/img/all-images/others/hero-h2-img2.png" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="space30"></div>
              <div class="hero-content-area" data-aos="zoom-in-up" data-aos-duration="900">
                <div class="icons">
                  <img src="/img/icons/hero-icon1.svg" alt="" />
                </div>
                <div class="space16"></div>
                <div class="main-content">
                  <div class="text">
                    <a href="service-single">Great Tech Ecosystem</a>
                    <div class="space8"></div>
                    <p>Let us empower your business with financial</p>
                  </div>
                  <div class="arrow">
                    <a href="service-single"><i class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="space30"></div>
              <div class="counter-box" data-aos="zoom-in-up" data-aos-duration="1000">
                <h3><span class="counter">36</span>%</h3>
                <div class="space16"></div>
                <p>Avg Profit Increased</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== ABOUT AREA STARTS ======= -->
  <div class="about2-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-heading heading2">
            <h5 data-aos="fade-left" data-aos-duration="800">About Us</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Decades of Experience, Focused on Your Business</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">From startups to established corporations, we offer tailored advice and services designed to navigate the complexities of finance with confidence. Our mission is simple: to be your trusted partner in achieving sustainable.</p>
            <div class="space32"></div>
            <div data-aos="fade-left" data-aos-duration="1000">
              <div class="about-boxarea">
                <div class="icons">
                  <img src="/img/icons/about2.svg" alt="" />
                </div>
                <div class="text">
                  <a href="service-single">Your Trusted Partner in Finance</a>
                  <div class="space16"></div>
                  <p>We are driven a commitment to excellence, integrity, & innovation, ensuring that we not only meet exceed.</p>
                </div>
              </div>
            </div>
            <div class="space30"></div>
            <div data-aos="fade-left" data-aos-duration="1100">
              <div class="about-boxarea">
                <div class="icons">
                  <img src="/img/icons/about1.svg" alt="" />
                </div>
                <div class="text">
                  <a href="service-single">Built on Trust, Driven by Results</a>
                  <div class="space16"></div>
                  <p>Our mission is simple: to be your trusted partner in achieving sustainable growth and financial success.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="images-area">
            <img src="/img/elements/elements11.png" alt="" class="elements11" />
            <div class="img1 image-anime reveal">
              <img src="/img/all-images/about/about-img2.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="space30 d-lg-none d-block"></div>
          <div class="heading2">
            <p data-aos="fade-left" data-aos-duration="900">From start established corporations, we offer tailored advice and services designed to navigate complexities of finance confidence. Our mission is simple.</p>
            <div class="space24"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="about" class="vl-btn2">Learn More <i class="fa-solid fa-angle-right"></i></a>
            </div>
          </div>
          <div class="space32"></div>
          <div class="images-area">
            <img src="/img/elements/elements10.png" alt="" class="elements10 keyframe5" />
            <div class="img1 image-anime reveal">
              <img src="/img/all-images/about/about-img3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== ABOUT AREA ENDS ======= -->

  <!-- ===== SERVICE AREA STARTS ======= -->
  <div class="service2-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="heading2 text-center space-margin60">
            <h5>Our Service</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Comprehensive Solutions for Your Business</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-duration="1000">
          <div class="service2-slider-area owl-carousel">
            <div class="service2-boxarea">
              <div class="icons">
                <img src="/img/icons/service4.svg" alt="" />
              </div>
              <div class="space24"></div>
              <div class="text heading2">
                <a href="service-single">Mergers & Acquisitions Consulting</a>
                <div class="space16"></div>
                <p>Our Mergers & Acquisitions Consulting service provides comprehensive guidance through every stage of the M&A process.</p>
                <div class="space24"></div>
                <a href="service-single" class="readmore">Learn More <i class="fa-solid fa-angle-right"></i></a>
              </div>
            </div>

            <div class="service2-boxarea">
              <div class="icons">
                <img src="/img/icons/service5.svg" alt="" />
              </div>
              <div class="space24"></div>
              <div class="text heading2">
                <a href="service-single">Business Growth Planning</a>
                <div class="space16"></div>
                <p>Business Growth Planning service is tailored to companies achieve sustainable, scalable growth we analyze your current financial.</p>
                <div class="space24"></div>
                <a href="service-single" class="readmore">Learn More <i class="fa-solid fa-angle-right"></i></a>
              </div>
            </div>

            <div class="service2-boxarea">
              <div class="icons">
                <img src="/img/icons/service6.svg" alt="" />
              </div>
              <div class="space24"></div>
              <div class="text heading2">
                <a href="service-single">Risk Management & Mitigation</a>
                <div class="space16"></div>
                <p>Managing risk is key to preserving business’s financial stability. With our Risk Management & Mitigation service, we help you identify.</p>
                <div class="space24"></div>
                <a href="service-single" class="readmore">Learn More <i class="fa-solid fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="space32"></div>
          <div class="btn-area1 text-center" data-aos="fade-up" data-aos-duration="1000">
            <a href="service" class="vl-btn2">View More Service <i class="fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== SERVICE AREA ENDS ======= -->

  <!-- ===== WORK AREA STARTS ======= -->
  <div class="work-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lgg-6 m-auto">
          <div class="heading2 text-center space-margin60">
            <h5>Our Work Process</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">From Strategy to Execution</h2>
          </div>
          <div class="space20"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
          <div class="work-single-boxarea">
            <img src="/img/elements/elements12.png" alt="" class="elements12" />
            <div class="icons">
              <img src="/img/elements/elements14.png" alt="" class="elements14" />
              <div class="icon">
                <img src="/img/icons/work-icon1.svg" alt="" />
              </div>
            </div>
            <div class="space48"></div>
            <div class="conten-area">
              <a href="project-single">Analysis to Achievement</a>
              <div class="space16"></div>
              <p>This approach ensures that every decision is data-driven and focused on delivering tangible results. With ongoing support and regular check-ins.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
          <div class="work-single-boxarea">
            <img src="/img/elements/elements13.png" alt="" class="elements13" />
            <div class="icons">
              <img src="/img/elements/elements14.png" alt="" class="elements14" />
              <div class="icon">
                <img src="/img/icons/work-icon2.svg" alt="" />
              </div>
            </div>
            <div class="space48"></div>
            <div class="conten-area">
              <a href="project-single">Blueprint for Success</a>
              <div class="space16"></div>
              <p>We conduct depth assessments identify strengths, weaknesses, and opportunities tailored to your unique situation once we have a clear picture.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="work-single-boxarea">
            <div class="icons">
              <img src="/img/elements/elements14.png" alt="" class="elements14" />
              <div class="icon">
                <img src="/img/icons/work-icon3.svg" alt="" />
              </div>
            </div>
            <div class="space48"></div>
            <div class="conten-area">
              <a href="project-single">Discovery & Strategy</a>
              <div class="space16"></div>
              <p>Our proven process, known 'Discovery & Strategy,' begins with a thorough understanding of your business and financial goals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== WORK AREA ENDS ======= -->

  <!-- ===== PROJECT AREA STARTS ======= -->
  <div class="project2-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="heading2 text-center space-margin60">
            <h5>Our Projects</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Comprehensive Solutions for Your Business</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img2.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Future Forward Pioneering New Frontiers</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33594 22.6654L22.6693 9.33203M22.6693 9.33203H10.6693M22.6693 9.33203V21.332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img3.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Project Titan: Building Financial Resilience</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33594 22.6654L22.6693 9.33203M22.6693 9.33203H10.6693M22.6693 9.33203V21.332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img4.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Project Ascend: Elevating Business Potential</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33594 22.6654L22.6693 9.33203M22.6693 9.33203H10.6693M22.6693 9.33203V21.332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
          <div class="project-single-boxarea2 box2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img5.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">The Catalyst Initiative: Driving Innovation</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33594 22.6654L22.6693 9.33203M22.6693 9.33203H10.6693M22.6693 9.33203V21.332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1100">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img6.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Empowerment Project: Financial Freedom for All</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33594 22.6654L22.6693 9.33203M22.6693 9.33203H10.6693M22.6693 9.33203V21.332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
          <div class="project-single-boxarea2 box3">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img7.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">360 Comprehensive Business Solutions</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33594 22.6654L22.6693 9.33203M22.6693 9.33203H10.6693M22.6693 9.33203V21.332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== PROJECT AREA ENDS ======= -->

  <!-- ===== TESTIMONIAL AREA STARTS ======= -->
  <div class="testimonial2-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="heading2 text-center space-margin60">
            <h5>Testimonial</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Why Our Clients Choose Us</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-duration="1000">
          <div class="testimonial2-slider-area owl-carousel">
            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“Our clients' success is at the heart of everything we do. We pride ourselves on building long-lasting relationships and delivering results that make a real difference. One client shared.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Gabriel Krajcik</a>
                    <div class="space10"></div>
                    <p>Businessman</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“One client shared provide The strategic guidance we needed to streamline our finances and scale our business. Their personalized approach and dedication to our success set them apart.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img2.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Sylvia Kohler</a>
                    <div class="space10"></div>
                    <p>Freelancer</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“The team was not only knowledgeable but also genuinely invested our success. I can't recommend them enough!' These testimonials reflect our commitment to delivering exceptional results & building.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Homer Kilback</a>
                    <div class="space10"></div>
                    <p>Entrepreneur</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“Our clients' success is at the heart of everything we do. We pride ourselves on building long-lasting relationships and delivering results that make a real difference. One client shared.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Gabriel Krajcik</a>
                    <div class="space10"></div>
                    <p>Businessman</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“One client shared provide The strategic guidance we needed to streamline our finances and scale our business. Their personalized approach and dedication to our success set them apart.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img2.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Sylvia Kohler</a>
                    <div class="space10"></div>
                    <p>Freelancer</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“The team was not only knowledgeable but also genuinely invested our success. I can't recommend them enough!' These testimonials reflect our commitment to delivering exceptional results & building.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Homer Kilback</a>
                    <div class="space10"></div>
                    <p>Entrepreneur</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“Our clients' success is at the heart of everything we do. We pride ourselves on building long-lasting relationships and delivering results that make a real difference. One client shared.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Gabriel Krajcik</a>
                    <div class="space10"></div>
                    <p>Businessman</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“One client shared provide The strategic guidance we needed to streamline our finances and scale our business. Their personalized approach and dedication to our success set them apart.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img2.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Sylvia Kohler</a>
                    <div class="space10"></div>
                    <p>Freelancer</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="testimonial2-boxarea">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
                <li>
                  <i class="fa-solid fa-star"></i>
                </li>
              </ul>
              <div class="space16"></div>
              <p>“The team was not only knowledgeable but also genuinely invested our success. I can't recommend them enough!' These testimonials reflect our commitment to delivering exceptional results & building.”</p>
              <div class="space20"></div>
              <div class="author-images-area">
                <div class="images">
                  <div class="img1">
                    <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                  </div>
                  <div class="text">
                    <a href="team">Homer Kilback</a>
                    <div class="space10"></div>
                    <p>Entrepreneur</p>
                  </div>
                </div>
                <div class="quoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M26.6837 17.173C26.6837 19.0063 27.1628 20.5459 28.1212 21.7917C28.8003 22.65 29.7219 23.2139 30.8857 23.4834C32.0316 23.75 33.1149 23.7688 34.0941 23.5417C34.4274 25.5209 33.8857 27.6167 32.5107 29.8375C31.133 32.057 29.3566 33.7257 27.1816 34.8438L30.4753 39.5834C32.142 38.7584 33.7253 37.7125 35.1837 36.448C36.6628 35.1834 37.9753 33.7292 39.142 32.0855C40.3087 30.4417 41.1837 28.5855 41.7462 26.4813C42.3087 24.3771 42.4649 22.2313 42.1962 20.023C41.8462 17.1063 40.9045 14.773 39.3712 13.0438C37.8392 11.2924 35.9309 10.4167 33.6462 10.4167C31.6357 10.4167 29.967 11.0209 28.6462 12.2459C27.3392 13.4459 26.6864 15.0903 26.6878 17.1792L26.6837 17.173ZM7.67533 17.173C7.67533 19.0063 8.1545 20.5459 9.11283 21.7917C9.79338 22.6667 10.7149 23.2341 11.8774 23.4938C13.0441 23.7507 14.1135 23.766 15.0857 23.5396C15.4191 25.498 14.8982 27.6021 13.5191 29.8313C12.1441 32.0396 10.3691 33.7063 8.19408 34.8313L11.4795 39.5834C13.1476 38.7584 14.717 37.7132 16.1878 36.448C17.6803 35.1645 19.0059 33.6989 20.1337 32.0855C21.292 30.4396 22.1545 28.5855 22.717 26.4813C23.2884 24.3788 23.442 22.1846 23.1691 20.023C22.8232 17.1063 21.8857 14.773 20.3566 13.0438C18.8288 11.3049 16.9239 10.4355 14.642 10.4355C12.6281 10.4327 10.9601 11.0417 9.63783 12.2625C8.33088 13.4625 7.67672 15.107 7.67533 17.1959V17.173Z" fill="#4A0E19" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== TESTIMONIAL AREA ENDS ======= -->

  <!-- ===== FAQ AREA STARTS ======= -->
  <div class="faq1-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="heading2 text-center space-margin60">
            <h5>Frequently Asked Questions</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Your Questions Answered</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="accordion-area">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="700">
                <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How do you determine the right financial strategy for my business?</button></h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>We begin with a thorough assessment of your current financial situation, including an analysis of your goals, challenges, and industry landscape. This allows us to identify opportunities.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="800">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What is the typical timeline for seeing results?</button></h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>We begin with a thorough assessment of your current financial situation, including an analysis of your goals, challenges, and industry landscape. This allows us to identify opportunities.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="900">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Do you work with businesses of all sizes?</button></h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>We begin with a thorough assessment of your current financial situation, including an analysis of your goals, challenges, and industry landscape. This allows us to identify opportunities.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="1000">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How can your services benefit my business?</button></h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>We begin with a thorough assessment of your current financial situation, including an analysis of your goals, challenges, and industry landscape. This allows us to identify opportunities.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="1100">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What services do you offer?</button></h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>We begin with a thorough assessment of your current financial situation, including an analysis of your goals, challenges, and industry landscape. This allows us to identify opportunities.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== FAQ AREA ENDS ======= -->

  <!-- ===== BLOG AREA STARTS ======= -->
  <div class="vl-blog-2-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="vl-blog-1-section-box heading2 text-center space-margin60">
            <h5 class="vl-section-subtitle">Our Blog</h5>
            <div class="space16"></div>
            <h2 class="vl-section-title text-anime-style-3">Expert Financial Advice And Business Tips</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="/img/all-images/blog/blog-img5.png" alt="" />
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
                        <g clip-path="url(#clip0_600_6756)">
                          <path d="M5.61627 0C5.80006 0 5.97633 0.0811248 6.1063 0.225528C6.23626 0.369931 6.30927 0.565783 6.30927 0.77V2.2099H13.7511V0.7799C13.7511 0.575683 13.8241 0.379831 13.9541 0.235428C14.084 0.0910248 14.2603 0.0099 14.4441 0.0099C14.6279 0.0099 14.8042 0.0910248 14.9341 0.235428C15.0641 0.379831 15.1371 0.575683 15.1371 0.7799V2.2099H17.82C18.345 2.2099 18.8484 2.44153 19.2197 2.85388C19.591 3.26622 19.7997 3.82551 19.8 4.4088V19.8011C19.7997 20.3844 19.591 20.9437 19.2197 21.356C18.8484 21.7684 18.345 22 17.82 22H1.98C1.45504 22 0.951572 21.7684 0.580278 21.356C0.208985 20.9437 0.000262479 20.3844 0 19.8011L0 4.4088C0.000262479 3.82551 0.208985 3.26622 0.580278 2.85388C0.951572 2.44153 1.45504 2.2099 1.98 2.2099H4.92327V0.7689C4.92353 0.564874 4.99666 0.369304 5.12659 0.225139C5.25653 0.0809736 5.43265 -2.0819e-07 5.61627 0ZM1.386 8.5162V19.8011C1.386 19.8878 1.40136 19.9736 1.43122 20.0537C1.46107 20.1337 1.50482 20.2065 1.55998 20.2678C1.61514 20.3291 1.68062 20.3777 1.75269 20.4109C1.82475 20.444 1.90199 20.4611 1.98 20.4611H17.82C17.898 20.4611 17.9752 20.444 18.0473 20.4109C18.1194 20.3777 18.1849 20.3291 18.24 20.2678C18.2952 20.2065 18.3389 20.1337 18.3688 20.0537C18.3986 19.9736 18.414 19.8878 18.414 19.8011V8.5316L1.386 8.5162ZM6.60033 16.0809V17.9135H4.95V16.0809H6.60033ZM10.7247 16.0809V17.9135H9.07533V16.0809H10.7247ZM14.85 16.0809V17.9135H13.1997V16.0809H14.85ZM6.60033 11.7062V13.5388H4.95V11.7062H6.60033ZM10.7247 11.7062V13.5388H9.07533V11.7062H10.7247ZM14.85 11.7062V13.5388H13.1997V11.7062H14.85ZM4.92327 3.7488H1.98C1.90199 3.7488 1.82475 3.76587 1.75269 3.79904C1.68062 3.83221 1.61514 3.88082 1.55998 3.94211C1.50482 4.0034 1.46107 4.07615 1.43122 4.15623C1.40136 4.2363 1.386 4.32213 1.386 4.4088V6.9773L18.414 6.9927V4.4088C18.414 4.32213 18.3986 4.2363 18.3688 4.15623C18.3389 4.07615 18.2952 4.0034 18.24 3.94211C18.1849 3.88082 18.1194 3.83221 18.0473 3.79904C17.9752 3.76587 17.898 3.7488 17.82 3.7488H15.1371V4.7707C15.1371 4.97492 15.0641 5.17077 14.9341 5.31517C14.8042 5.45958 14.6279 5.5407 14.4441 5.5407C14.2603 5.5407 14.084 5.45958 13.9541 5.31517C13.8241 5.17077 13.7511 4.97492 13.7511 4.7707V3.7488H6.30927V4.7608C6.30927 4.96502 6.23626 5.16087 6.1063 5.30527C5.97633 5.44968 5.80006 5.5308 5.61627 5.5308C5.43247 5.5308 5.25621 5.44968 5.12624 5.30527C4.99628 5.16087 4.92327 4.96502 4.92327 4.7608V3.7488Z" fill="#061D19" />
                        </g>
                        <defs>
                          <clipPath id="clip0_600_6756">
                            <rect width="19.8" height="22" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>28, Sep 2025 <span>|</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M1 7.775V2.75C1 1.784 1.784 1 2.75 1H7.775C8.239 1 8.685 1.184 9.013 1.513L15.263 7.763C15.5909 8.09115 15.7751 8.53609 15.7751 9C15.7751 9.46391 15.5909 9.90885 15.263 10.237L10.237 15.263C9.90885 15.5909 9.46391 15.7751 9 15.7751C8.53609 15.7751 8.09115 15.5909 7.763 15.263L1.513 9.013C1.35035 8.85047 1.22133 8.65747 1.1333 8.44505C1.04528 8.23263 0.999983 8.00494 1 7.775ZM2.5 7.775C2.5 7.841 2.526 7.905 2.573 7.952L8.823 14.202C8.84622 14.2253 8.87381 14.2438 8.90418 14.2564C8.93456 14.269 8.96712 14.2754 9 14.2754C9.03288 14.2754 9.06544 14.269 9.09582 14.2564C9.12619 14.2438 9.15378 14.2253 9.177 14.202L14.202 9.177C14.2253 9.15378 14.2438 9.12619 14.2564 9.09582C14.269 9.06544 14.2754 9.03288 14.2754 9C14.2754 8.96712 14.269 8.93456 14.2564 8.90418C14.2438 8.87381 14.2253 8.84622 14.202 8.823L7.952 2.573C7.92874 2.5498 7.90114 2.53141 7.87077 2.51888C7.84039 2.50636 7.80785 2.49994 7.775 2.5H2.75C2.6837 2.5 2.62011 2.52634 2.57322 2.57322C2.52634 2.62011 2.5 2.6837 2.5 2.75V7.775ZM6 5C6.26522 5 6.51957 5.10536 6.70711 5.29289C6.89464 5.48043 7 5.73478 7 6C7 6.26522 6.89464 6.51957 6.70711 6.70711C6.51957 6.89464 6.26522 7 6 7C5.73478 7 5.48043 6.89464 5.29289 6.70711C5.10536 6.51957 5 6.26522 5 6C5 5.73478 5.10536 5.48043 5.29289 5.29289C5.48043 5.10536 5.73478 5 6 5Z" fill="#0C3A30" />
                      </svg>Business & Finance
                    </a>
                  </li>
                </ul>
              </div>
              <div class="space24"></div>
              <h4 class="vl-blog-1-title"><a href="blog-single">Expert Strategies to Elevate Your Business to the Next Level</a></h4>
              <div class="space16"></div>
              <p>Staying ahead in today’s competitive market requires more than just hard work—it requires</p>
              <div class="space24"></div>
              <div class="vl-blog-1-icon">
                <a href="blog-single">Learn More <i class="fa-solid fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="/img/all-images/blog/blog-img4.png" alt="" />
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
                        <g clip-path="url(#clip0_600_6756)">
                          <path d="M5.61627 0C5.80006 0 5.97633 0.0811248 6.1063 0.225528C6.23626 0.369931 6.30927 0.565783 6.30927 0.77V2.2099H13.7511V0.7799C13.7511 0.575683 13.8241 0.379831 13.9541 0.235428C14.084 0.0910248 14.2603 0.0099 14.4441 0.0099C14.6279 0.0099 14.8042 0.0910248 14.9341 0.235428C15.0641 0.379831 15.1371 0.575683 15.1371 0.7799V2.2099H17.82C18.345 2.2099 18.8484 2.44153 19.2197 2.85388C19.591 3.26622 19.7997 3.82551 19.8 4.4088V19.8011C19.7997 20.3844 19.591 20.9437 19.2197 21.356C18.8484 21.7684 18.345 22 17.82 22H1.98C1.45504 22 0.951572 21.7684 0.580278 21.356C0.208985 20.9437 0.000262479 20.3844 0 19.8011L0 4.4088C0.000262479 3.82551 0.208985 3.26622 0.580278 2.85388C0.951572 2.44153 1.45504 2.2099 1.98 2.2099H4.92327V0.7689C4.92353 0.564874 4.99666 0.369304 5.12659 0.225139C5.25653 0.0809736 5.43265 -2.0819e-07 5.61627 0ZM1.386 8.5162V19.8011C1.386 19.8878 1.40136 19.9736 1.43122 20.0537C1.46107 20.1337 1.50482 20.2065 1.55998 20.2678C1.61514 20.3291 1.68062 20.3777 1.75269 20.4109C1.82475 20.444 1.90199 20.4611 1.98 20.4611H17.82C17.898 20.4611 17.9752 20.444 18.0473 20.4109C18.1194 20.3777 18.1849 20.3291 18.24 20.2678C18.2952 20.2065 18.3389 20.1337 18.3688 20.0537C18.3986 19.9736 18.414 19.8878 18.414 19.8011V8.5316L1.386 8.5162ZM6.60033 16.0809V17.9135H4.95V16.0809H6.60033ZM10.7247 16.0809V17.9135H9.07533V16.0809H10.7247ZM14.85 16.0809V17.9135H13.1997V16.0809H14.85ZM6.60033 11.7062V13.5388H4.95V11.7062H6.60033ZM10.7247 11.7062V13.5388H9.07533V11.7062H10.7247ZM14.85 11.7062V13.5388H13.1997V11.7062H14.85ZM4.92327 3.7488H1.98C1.90199 3.7488 1.82475 3.76587 1.75269 3.79904C1.68062 3.83221 1.61514 3.88082 1.55998 3.94211C1.50482 4.0034 1.46107 4.07615 1.43122 4.15623C1.40136 4.2363 1.386 4.32213 1.386 4.4088V6.9773L18.414 6.9927V4.4088C18.414 4.32213 18.3986 4.2363 18.3688 4.15623C18.3389 4.07615 18.2952 4.0034 18.24 3.94211C18.1849 3.88082 18.1194 3.83221 18.0473 3.79904C17.9752 3.76587 17.898 3.7488 17.82 3.7488H15.1371V4.7707C15.1371 4.97492 15.0641 5.17077 14.9341 5.31517C14.8042 5.45958 14.6279 5.5407 14.4441 5.5407C14.2603 5.5407 14.084 5.45958 13.9541 5.31517C13.8241 5.17077 13.7511 4.97492 13.7511 4.7707V3.7488H6.30927V4.7608C6.30927 4.96502 6.23626 5.16087 6.1063 5.30527C5.97633 5.44968 5.80006 5.5308 5.61627 5.5308C5.43247 5.5308 5.25621 5.44968 5.12624 5.30527C4.99628 5.16087 4.92327 4.96502 4.92327 4.7608V3.7488Z" fill="#061D19" />
                        </g>
                        <defs>
                          <clipPath id="clip0_600_67561">
                            <rect width="19.8" height="22" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>29, Sep 2025 <span>|</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M1 7.775V2.75C1 1.784 1.784 1 2.75 1H7.775C8.239 1 8.685 1.184 9.013 1.513L15.263 7.763C15.5909 8.09115 15.7751 8.53609 15.7751 9C15.7751 9.46391 15.5909 9.90885 15.263 10.237L10.237 15.263C9.90885 15.5909 9.46391 15.7751 9 15.7751C8.53609 15.7751 8.09115 15.5909 7.763 15.263L1.513 9.013C1.35035 8.85047 1.22133 8.65747 1.1333 8.44505C1.04528 8.23263 0.999983 8.00494 1 7.775ZM2.5 7.775C2.5 7.841 2.526 7.905 2.573 7.952L8.823 14.202C8.84622 14.2253 8.87381 14.2438 8.90418 14.2564C8.93456 14.269 8.96712 14.2754 9 14.2754C9.03288 14.2754 9.06544 14.269 9.09582 14.2564C9.12619 14.2438 9.15378 14.2253 9.177 14.202L14.202 9.177C14.2253 9.15378 14.2438 9.12619 14.2564 9.09582C14.269 9.06544 14.2754 9.03288 14.2754 9C14.2754 8.96712 14.269 8.93456 14.2564 8.90418C14.2438 8.87381 14.2253 8.84622 14.202 8.823L7.952 2.573C7.92874 2.5498 7.90114 2.53141 7.87077 2.51888C7.84039 2.50636 7.80785 2.49994 7.775 2.5H2.75C2.6837 2.5 2.62011 2.52634 2.57322 2.57322C2.52634 2.62011 2.5 2.6837 2.5 2.75V7.775ZM6 5C6.26522 5 6.51957 5.10536 6.70711 5.29289C6.89464 5.48043 7 5.73478 7 6C7 6.26522 6.89464 6.51957 6.70711 6.70711C6.51957 6.89464 6.26522 7 6 7C5.73478 7 5.48043 6.89464 5.29289 6.70711C5.10536 6.51957 5 6.26522 5 6C5 5.73478 5.10536 5.48043 5.29289 5.29289C5.48043 5.10536 5.73478 5 6 5Z" fill="#0C3A30" />
                      </svg>Business & Finance
                    </a>
                  </li>
                </ul>
              </div>
              <div class="space24"></div>
              <h4 class="vl-blog-1-title"><a href="blog-single">Actionable Financial Tips to Drive Long-Term Success</a></h4>
              <div class="space16"></div>
              <p>The path long-term business success is paved with smart financial decisions. In this blog.</p>
              <div class="space24"></div>
              <div class="vl-blog-1-icon">
                <a href="blog-single">Learn More <i class="fa-solid fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="/img/all-images/blog/blog-img3.png" alt="" />
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
                        <g clip-path="url(#clip0_600_6756)">
                          <path d="M5.61627 0C5.80006 0 5.97633 0.0811248 6.1063 0.225528C6.23626 0.369931 6.30927 0.565783 6.30927 0.77V2.2099H13.7511V0.7799C13.7511 0.575683 13.8241 0.379831 13.9541 0.235428C14.084 0.0910248 14.2603 0.0099 14.4441 0.0099C14.6279 0.0099 14.8042 0.0910248 14.9341 0.235428C15.0641 0.379831 15.1371 0.575683 15.1371 0.7799V2.2099H17.82C18.345 2.2099 18.8484 2.44153 19.2197 2.85388C19.591 3.26622 19.7997 3.82551 19.8 4.4088V19.8011C19.7997 20.3844 19.591 20.9437 19.2197 21.356C18.8484 21.7684 18.345 22 17.82 22H1.98C1.45504 22 0.951572 21.7684 0.580278 21.356C0.208985 20.9437 0.000262479 20.3844 0 19.8011L0 4.4088C0.000262479 3.82551 0.208985 3.26622 0.580278 2.85388C0.951572 2.44153 1.45504 2.2099 1.98 2.2099H4.92327V0.7689C4.92353 0.564874 4.99666 0.369304 5.12659 0.225139C5.25653 0.0809736 5.43265 -2.0819e-07 5.61627 0ZM1.386 8.5162V19.8011C1.386 19.8878 1.40136 19.9736 1.43122 20.0537C1.46107 20.1337 1.50482 20.2065 1.55998 20.2678C1.61514 20.3291 1.68062 20.3777 1.75269 20.4109C1.82475 20.444 1.90199 20.4611 1.98 20.4611H17.82C17.898 20.4611 17.9752 20.444 18.0473 20.4109C18.1194 20.3777 18.1849 20.3291 18.24 20.2678C18.2952 20.2065 18.3389 20.1337 18.3688 20.0537C18.3986 19.9736 18.414 19.8878 18.414 19.8011V8.5316L1.386 8.5162ZM6.60033 16.0809V17.9135H4.95V16.0809H6.60033ZM10.7247 16.0809V17.9135H9.07533V16.0809H10.7247ZM14.85 16.0809V17.9135H13.1997V16.0809H14.85ZM6.60033 11.7062V13.5388H4.95V11.7062H6.60033ZM10.7247 11.7062V13.5388H9.07533V11.7062H10.7247ZM14.85 11.7062V13.5388H13.1997V11.7062H14.85ZM4.92327 3.7488H1.98C1.90199 3.7488 1.82475 3.76587 1.75269 3.79904C1.68062 3.83221 1.61514 3.88082 1.55998 3.94211C1.50482 4.0034 1.46107 4.07615 1.43122 4.15623C1.40136 4.2363 1.386 4.32213 1.386 4.4088V6.9773L18.414 6.9927V4.4088C18.414 4.32213 18.3986 4.2363 18.3688 4.15623C18.3389 4.07615 18.2952 4.0034 18.24 3.94211C18.1849 3.88082 18.1194 3.83221 18.0473 3.79904C17.9752 3.76587 17.898 3.7488 17.82 3.7488H15.1371V4.7707C15.1371 4.97492 15.0641 5.17077 14.9341 5.31517C14.8042 5.45958 14.6279 5.5407 14.4441 5.5407C14.2603 5.5407 14.084 5.45958 13.9541 5.31517C13.8241 5.17077 13.7511 4.97492 13.7511 4.7707V3.7488H6.30927V4.7608C6.30927 4.96502 6.23626 5.16087 6.1063 5.30527C5.97633 5.44968 5.80006 5.5308 5.61627 5.5308C5.43247 5.5308 5.25621 5.44968 5.12624 5.30527C4.99628 5.16087 4.92327 4.96502 4.92327 4.7608V3.7488Z" fill="#061D19" />
                        </g>
                        <defs>
                          <clipPath id="clip0_600_67562">
                            <rect width="19.8" height="22" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>30, Sep 2025 <span>|</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M1 7.775V2.75C1 1.784 1.784 1 2.75 1H7.775C8.239 1 8.685 1.184 9.013 1.513L15.263 7.763C15.5909 8.09115 15.7751 8.53609 15.7751 9C15.7751 9.46391 15.5909 9.90885 15.263 10.237L10.237 15.263C9.90885 15.5909 9.46391 15.7751 9 15.7751C8.53609 15.7751 8.09115 15.5909 7.763 15.263L1.513 9.013C1.35035 8.85047 1.22133 8.65747 1.1333 8.44505C1.04528 8.23263 0.999983 8.00494 1 7.775ZM2.5 7.775C2.5 7.841 2.526 7.905 2.573 7.952L8.823 14.202C8.84622 14.2253 8.87381 14.2438 8.90418 14.2564C8.93456 14.269 8.96712 14.2754 9 14.2754C9.03288 14.2754 9.06544 14.269 9.09582 14.2564C9.12619 14.2438 9.15378 14.2253 9.177 14.202L14.202 9.177C14.2253 9.15378 14.2438 9.12619 14.2564 9.09582C14.269 9.06544 14.2754 9.03288 14.2754 9C14.2754 8.96712 14.269 8.93456 14.2564 8.90418C14.2438 8.87381 14.2253 8.84622 14.202 8.823L7.952 2.573C7.92874 2.5498 7.90114 2.53141 7.87077 2.51888C7.84039 2.50636 7.80785 2.49994 7.775 2.5H2.75C2.6837 2.5 2.62011 2.52634 2.57322 2.57322C2.52634 2.62011 2.5 2.6837 2.5 2.75V7.775ZM6 5C6.26522 5 6.51957 5.10536 6.70711 5.29289C6.89464 5.48043 7 5.73478 7 6C7 6.26522 6.89464 6.51957 6.70711 6.70711C6.51957 6.89464 6.26522 7 6 7C5.73478 7 5.48043 6.89464 5.29289 6.70711C5.10536 6.51957 5 6.26522 5 6C5 5.73478 5.10536 5.48043 5.29289 5.29289C5.48043 5.10536 5.73478 5 6 5Z" fill="#0C3A30" />
                      </svg>Business & Finance
                    </a>
                  </li>
                </ul>
              </div>
              <div class="space24"></div>
              <h4 class="vl-blog-1-title"><a href="blog-single">Transforming Financial Challenges into Opportunities for Growth</a></h4>
              <div class="space16"></div>
              <p>This blog offers strategic insights on how to over financial hurdles, maximize resources.</p>
              <div class="space24"></div>
              <div class="vl-blog-1-icon">
                <a href="blog-single">Learn More <i class="fa-solid fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== BLOG AREA ENDS ======= -->

  <!-- ===== CTA AREA STARTS ======= -->
  <div class="cta2-section-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta-bg-area">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="heading2">
                  <h2>Empowering Businesses, One Step at a Time</h2>
                </div>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-5">
                <div class="cta-form-area">
                  <form>
                    <input type="text" placeholder="Enter Your Email" />
                    <button class="">Subscribe <i class="fa-solid fa-angle-right"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CTA AREA ENDS ======= -->

  <!-- ===== FOOTER AREA STARTS ======= -->
  <div class="vl-footer2-section-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-logo1">
            <img src="/img/logo/logo2.png" alt="" />
            <div class="space24"></div>
            <p>We are committed to providing with the highest level of service expertise business and finance if you have any.</p>
            <div class="space24"></div>
            <ul>
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" class="m-0"><i class="fa-brands fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="space30 d-md-none d-block"></div>
          <div class="vl-footer-widget first-padding">
            <h3>Quick Links</h3>
            <div class="space4"></div>
            <ul>
              <li>
                <a href="about">About Us</a>
              </li>
              <li>
                <a href="service">Our Services</a>
              </li>
              <li>
                <a href="project">Case Studies</a>
              </li>
              <li>
                <a href="pricing">Pricing Plan</a>
              </li>
              <li>
                <a href="contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="space30 d-md-none d-block"></div>
          <div class="vl-footer-widget">
            <h3>Our services</h3>
            <div class="space4"></div>
            <ul>
              <li>
                <a href="about">Financial Strategy</a>
              </li>
              <li>
                <a href="service">Business Growth</a>
              </li>
              <li>
                <a href="project">Our Process</a>
              </li>
              <li>
                <a href="#">Our Work</a>
              </li>
              <li>
                <a href="contact">Reviews</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget">
            <div class="space30 d-lg-none d-block"></div>
            <h3>Contact Us</h3>
            <ul>
              <li>
                <a href="tel:+11234567890"><img src="/img/icons/phn1.svg" alt="" />+1 123 456 7890</a>
              </li>
              <li>
                <a href="#"><img src="/img/icons/location1.svg" alt="" />421 Allen, Mexico 4233</a>
              </li>
              <li>
                <a href="renevagency@com"><img src="/img/icons/email1.svg" alt="" />finazzeconsult@com</a>
              </li>
              <li>
                <a href="#"><img src="/img/icons/global1.svg" alt="" />finazzeconsult.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="vl-copyright-area">
            <p>© Copyright 2025 - Finazze. All Right Reserved</p>
            <ul>
              <li>
                <a href="#">Privacy Policy <span>|</span></a>
              </li>
              <li>
                <a href="#">Terms & Conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== FOOTER AREA ENDS ======= -->
<%- contentFor('extra_javascript') %>
