<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <%- include('partials/header/navbar3') %>

  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero3-section-area" style="background-image: url(/img/all-images/bg/hero-bg3.png); background-position: center bottom; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hero3-heading">
            <h5 data-aos="fade-left" data-aos-duration="800">Strategic Solutions For Financial Growth</h5>
            <div class="space22"></div>
            <h2 class="text-anime-style-3">Unlocking Your Business Potential with Tailored Financial Consulting</h2>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <div class="space24 d-lg-none d-block"></div>
          <div class="others-content">
            <p data-aos="fade-left" data-aos-duration="1000">At Finazze, we specialize in providing tailored business and financial consulting services designed to help your company thrive in competitive market, our best team of experienced.</p>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1100">
              <a href="contact" class="vl-hero-btn">Unlock Your Business Potential</a>
            </div>
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-duration="1000">
          <div class="images">
            <img src="/img/elements/elements15.png" alt="" class="elements15 aniamtion-key-1" />
            <img src="/img/elements/elements16.png" alt="" class="elements16 aniamtion-key-6" />
            <div class="img1">
              <img src="/img/all-images/hero/hero-img2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== ABOUT AREA STARTS ======= -->
  <div class="about3-section-area sp1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-images-area">
            <img src="/img/elements/elements18.png" alt="" class="elements18" />
            <div class="img1 text-end reveal">
              <img src="/img/all-images/about/about-img4.png" alt="" />
            </div>
            <div class="img2 reveal">
              <img src="/img/all-images/about/about-img5.png" alt="" />
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="heading3">
            <h5 data-aos="fade-left" data-aos-duration="800">About Us</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Empowering Businesses,& One Solution at a Time</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">We believe that every business deserves a strong financial foundation. With decades of experience in the industry, our team is dedicated to providing personalized, strategic financial solutions that help our clients thrive.</p>
            <div class="space16"></div>
            <ul data-aos="fade-left" data-aos-duration="1000">
              <li>
                <img src="/img/icons/arrow1.svg" alt="" /> Built on Trust, Driven by Results
              </li>
              <li>
                <img src="/img/icons/arrow1.svg" alt="" /> Your Trusted Partner in Finance
              </li>
              <li>
                <img src="/img/icons/arrow1.svg" alt="" /> Committed to Your Success
              </li>
            </ul>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1100">
              <a href="service" class="vl-btn3">Request A Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== ABOUT AREA ENDS ======= -->

  <!-- ===== SERVICE AREA STARTS ======= -->
  <div class="service3-section-area sp2" style="background-image: url(/img/all-images/bg/bg3.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="heading3 text-center space-margin60">
            <h5>Our Service</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Customized Financial Solutions for Every Stage</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service7.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Debt Restructuring Services</a>
              <div class="space16"></div>
              <p>Debt Restructuring Services designed to help businesses manage their debt more effectively, providing relief.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service8.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Financial Strategy & Advisory</a>
              <div class="space16"></div>
              <p>Financial Strategy & Advisory service is designed help businesses all sizes make informed, strategic decisions.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service9.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Tax Planning & Compliance</a>
              <div class="space16"></div>
              <p>We stay updated the latest tax laws & policies helping you navigate complex tax landscapes our personalized.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service10.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Risk Management & Mitigation</a>
              <div class="space16"></div>
              <p>Managing is key preserving business’s financial stability Risk Management & Mitigation service help you identify.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1200">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service11.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Business Growth Planning</a>
              <div class="space16"></div>
              <p>Business Growth Planning service is tailored companies sustainable, scalable growth analyze current.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1300">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service12.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Cash Flow Optimization</a>
              <div class="space16"></div>
              <p>Maintaining a healthy cash is critical business success. Cash Optimization service provides in-depth analysis.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== SERVICE AREA ENDS ======= -->

  <!-- ===== PROJECT AREA STARTS ======= -->
  <div class="project3-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="heading3 space-margin60">
            <h5 data-aos="fade-left" data-aos-duration="800">Our Portfolio</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Groundbreaking Projects Redefining Success</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="project-singlebox-slider owl-carousel">
            <div class="project-single-boxarea3">
              <div class="img1">
                <img src="/img/all-images/project/project-img8.png" alt="" />
              </div>
              <div class="content-area">
                <a href="project-single" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                    <path d="M10.5354 1.5928L1.46078 12.4075M10.5354 1.5928L11.2315 9.54855M10.5354 1.5928L2.57967 2.28884" stroke="#032530" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
                <div class="space24"></div>
                <p>Business And Finance</p>
                <div class="space16"></div>
                <a href="project-single">Financial Growth</a>
              </div>
            </div>

            <div class="project-single-boxarea3">
              <div class="img1">
                <img src="/img/all-images/project/project-img9.png" alt="" />
              </div>
              <div class="content-area">
                <a href="project-single" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                    <path d="M10.5354 1.5928L1.46078 12.4075M10.5354 1.5928L11.2315 9.54855M10.5354 1.5928L2.57967 2.28884" stroke="#032530" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
                <div class="space24"></div>
                <p>Business And Finance</p>
                <div class="space16"></div>
                <a href="project-single">Business Solutions</a>
              </div>
            </div>

            <div class="project-single-boxarea3">
              <div class="img1">
                <img src="/img/all-images/project/project-img10.png" alt="" />
              </div>
              <div class="content-area">
                <a href="project-single" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                    <path d="M10.5354 1.5928L1.46078 12.4075M10.5354 1.5928L11.2315 9.54855M10.5354 1.5928L2.57967 2.28884" stroke="#032530" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
                <div class="space24"></div>
                <p>Business And Finance</p>
                <div class="space16"></div>
                <a href="project-single">Optimization Programs</a>
              </div>
            </div>

            <div class="project-single-boxarea3">
              <div class="img1">
                <img src="/img/all-images/project/project-img8.png" alt="" />
              </div>
              <div class="content-area">
                <a href="project-single" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                    <path d="M10.5354 1.5928L1.46078 12.4075M10.5354 1.5928L11.2315 9.54855M10.5354 1.5928L2.57967 2.28884" stroke="#032530" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
                <div class="space24"></div>
                <p>Business And Finance</p>
                <div class="space16"></div>
                <a href="project-single">Financial Growth</a>
              </div>
            </div>

            <div class="project-single-boxarea3">
              <div class="img1">
                <img src="/img/all-images/project/project-img9.png" alt="" />
              </div>
              <div class="content-area">
                <a href="project-single" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                    <path d="M10.5354 1.5928L1.46078 12.4075M10.5354 1.5928L11.2315 9.54855M10.5354 1.5928L2.57967 2.28884" stroke="#032530" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
                <div class="space24"></div>
                <p>Business And Finance</p>
                <div class="space16"></div>
                <a href="project-single">Business Solutions</a>
              </div>
            </div>

            <div class="project-single-boxarea3">
              <div class="img1">
                <img src="/img/all-images/project/project-img10.png" alt="" />
              </div>
              <div class="content-area">
                <a href="project-single" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                    <path d="M10.5354 1.5928L1.46078 12.4075M10.5354 1.5928L11.2315 9.54855M10.5354 1.5928L2.57967 2.28884" stroke="#032530" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
                <div class="space24"></div>
                <p>Business And Finance</p>
                <div class="space16"></div>
                <a href="project-single">Optimization Programs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== PROJECT AREA ENDS ======= -->

  <!-- ===== PRICING AREA STARTS ======= -->
  <div class="pricing-section-area sp2" style="background-image: url(/img/all-images/bg/bg4.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="heading3 text-center">
            <h5>Pricing Plan</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Select the Right Plan for Your Business</h2>
          </div>
          <div class="space32"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <div class="plan-toggle-wrap" style="margin-top: 0;">
            <div class="toggle-inner" data-aos="fade-up" data-aos-duration="1000">
              <input id="ce-toggle" checked="" type="checkbox" />
              <span class="custom-toggle"></span>
              <div class="t-month">
                <h4>Monthly</h4>
              </div>
              <div class="t-year">
                <h4>Yearly</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="tab-content">
            <div id="monthly">
              <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
                  <div class="single-pricing-area">
                    <div class="pricing-box">
                      <h3>Starter Package</h3>
                      <div class="space26"></div>
                      <p>Our pricing plans are designed to meet the diverse needs of businesses at every stage.</p>
                      <div class="space38"></div>
                      <h2>$29 <span>/Per Month</span> <img src="/img/elements/elements19.png" alt="" class="elements19 keyframe5" /></h2>
                      <div class="space32"></div>
                      <ul>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Bookkeeping
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Tax advisory
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Tax preparation
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Financial consulting
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" /> Quarterly reports
                        </li>
                      </ul>
                      <div class="space32"></div>
                      <div class="btn-area1">
                        <a href="contact" class="vl-btn3">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
                  <div class="single-pricing-area active">
                    <div class="pricing-box">
                      <h3>Growth Package</h3>
                      <div class="space26"></div>
                      <p>Whether you’re a startup for foundational financial support an established company.</p>
                      <div class="space38"></div>
                      <h2>$49 <span>/Per Month</span> <img src="/img/elements/elements19.png" alt="" class="elements19 keyframe5" /></h2>
                      <div class="space32"></div>
                      <ul>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Starter package
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Financial planning
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Auditing
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Priority support
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" /> Bi-monthly reports
                        </li>
                      </ul>
                      <div class="space32"></div>
                      <div class="btn-area1">
                        <a href="contact" class="vl-btn3">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
                  <div class="single-pricing-area">
                    <div class="pricing-box">
                      <h3>Enterprise Package</h3>
                      <div class="space26"></div>
                      <p>With no hidden fees and tailored solutions, you can choose the plan that best fits.</p>
                      <div class="space38"></div>
                      <h2>$99 <span>/Per Month</span> <img src="/img/elements/elements19.png" alt="" class="elements19 keyframe5" /></h2>
                      <div class="space32"></div>
                      <ul>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Growth package
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Dedicated manager
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />TAdvanced auditing
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Customized reports
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" /> 24/7 Support
                        </li>
                      </ul>
                      <div class="space32"></div>
                      <div class="btn-area1">
                        <a href="contact" class="vl-btn3">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="yearly" style="display:none">
              <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
                  <div class="single-pricing-area">
                    <div class="pricing-box">
                      <h3>Starter Package</h3>
                      <div class="space26"></div>
                      <p>Our pricing plans are designed to meet the diverse needs of businesses at every stage.</p>
                      <div class="space38"></div>
                      <h2>$99 <span>/Per Yearly</span> <img src="/img/elements/elements19.png" alt="" class="elements19 keyframe5" /></h2>
                      <div class="space32"></div>
                      <ul>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Bookkeeping
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Tax advisory
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Tax preparation
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Financial consulting
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" /> Quarterly reports
                        </li>
                      </ul>
                      <div class="space32"></div>
                      <div class="btn-area1">
                        <a href="contact" class="vl-btn3">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
                  <div class="single-pricing-area active">
                    <div class="pricing-box">
                      <h3>Growth Package</h3>
                      <div class="space26"></div>
                      <p>Whether you’re a startup for foundational financial support an established company.</p>
                      <div class="space38"></div>
                      <h2>$199 <span>/Per Yearly</span> <img src="/img/elements/elements19.png" alt="" class="elements19 keyframe5" /></h2>
                      <div class="space32"></div>
                      <ul>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Starter package
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Financial planning
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Auditing
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" />Priority support
                        </li>
                        <li>
                          <img src="/img/icons/arrow2.svg" alt="" /> Bi-monthly reports
                        </li>
                      </ul>
                      <div class="space32"></div>
                      <div class="btn-area1">
                        <a href="contact" class="vl-btn3">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
                  <div class="single-pricing-area">
                    <div class="pricing-box">
                      <h3>Enterprise Package</h3>
                      <div class="space26"></div>
                      <p>With no hidden fees and tailored solutions, you can choose the plan that best fits.</p>
                      <div class="space38"></div>
                      <h2>$399 <span>/Per Yearly</span> <img src="/img/elements/elements19.png" alt="" class="elements19 keyframe5" /></h2>
                      <div class="space32"></div>
                      <ul>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Growth package
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Dedicated manager
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />TAdvanced auditing
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" />Customized reports
                        </li>
                        <li>
                          <img src="/img/icons/arrow1.svg" alt="" /> 24/7 Support
                        </li>
                      </ul>
                      <div class="space32"></div>
                      <div class="btn-area1">
                        <a href="contact" class="vl-btn3">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== PRICING AREA ENDS ======= -->

  <!-- ===== TESTIMONIAL AREA STARTS ======= -->
  <div class="testimonial3-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="testimonial-heading heading3">
            <h5 data-aos="fade-left" data-aos-duration="800">Testimonial</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Our Clients Are Saying?</h2>
            <div class="space32"></div>
            <div class="testimonial-slider-widget owl-carousel">
              <div class="testimonial-widget-box">
                <div class="list-area">
                  <ul>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                  </ul>
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" viewBox="0 0 28 25" fill="none">
                    <path d="M15.3469 6.23963C15.3469 7.7063 15.7303 8.93797 16.4969 9.93463C17.0403 10.6213 17.7775 11.0724 18.7086 11.288C19.6253 11.5013 20.4919 11.5163 21.2753 11.3346C21.5419 12.918 21.1086 14.5946 20.0086 16.3713C18.9064 18.1469 17.4853 19.4819 15.7453 20.3763L18.3803 24.168C19.7136 23.508 20.9803 22.6713 22.1469 21.6596C23.3303 20.648 24.3803 19.4846 25.3136 18.1696C26.2469 16.8546 26.9469 15.3696 27.3969 13.6863C27.8469 12.003 27.9719 10.2863 27.7569 8.51963C27.4769 6.1863 26.7236 4.31963 25.4969 2.9363C24.2714 1.53519 22.7447 0.834633 20.9169 0.834633C19.3086 0.834633 17.9736 1.31797 16.9169 2.29797C15.8714 3.25797 15.3492 4.57352 15.3503 6.24463L15.3469 6.23963ZM0.140263 6.23963C0.140263 7.7063 0.523598 8.93797 1.29026 9.93463C1.83471 10.6346 2.57193 11.0885 3.50193 11.2963C4.43526 11.5019 5.29082 11.5141 6.06859 11.333C6.33526 12.8996 5.9186 14.583 4.81526 16.3663C3.71526 18.133 2.29526 19.4663 0.555264 20.3663L3.1836 24.168C4.51804 23.508 5.7736 22.6719 6.95026 21.6596C8.14426 20.6329 9.20475 19.4604 10.1069 18.1696C11.0336 16.853 11.7236 15.3696 12.1736 13.6863C12.6307 12.0043 12.7536 10.2489 12.5353 8.51963C12.2586 6.1863 11.5086 4.31963 10.2853 2.9363C9.06304 1.54519 7.53915 0.849634 5.7136 0.849634C4.10248 0.847412 2.76804 1.33463 1.71026 2.3113C0.664705 3.2713 0.141375 4.58685 0.140263 6.25797V6.23963Z" fill="#F4D445" />
                  </svg>
                </div>
                <div class="space16"></div>
                <p>“Their expertise in financial strategy helped identify growth opportunities we never considered. With their guidance, we increased our revenue by 30% in just one year! The team was not only knowledgeable genuinely invested in our success.”</p>
                <div class="space24"></div>
                <div class="author-area">
                  <div class="images-area">
                    <div class="img1">
                      <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                    </div>
                    <div class="text">
                      <a href="team">Gabriel Krajcik</a>
                      <p>Businessman</p>
                    </div>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="122" height="41" viewBox="0 0 122 41" fill="none">
                    <g clip-path="url(#clip0_600_8989)">
                      <path d="M118.199 24.9463L121.584 27.2009C120.486 28.8175 117.858 31.5913 113.316 31.5913C107.675 31.5913 103.475 27.2306 103.475 21.6832C103.475 15.7802 107.72 11.7754 112.841 11.7754C117.992 11.7754 120.515 15.869 121.332 18.079L121.777 19.2063L108.507 24.6942C109.516 26.6818 111.09 27.6904 113.316 27.6904C115.543 27.6904 117.086 26.5928 118.199 24.9463ZM107.794 21.3721L116.656 17.6935C116.166 16.4625 114.711 15.5875 112.974 15.5875C110.763 15.5875 107.69 17.5454 107.794 21.3721Z" fill="#FF302F" />
                      <path d="M97.0781 1.67383H101.353V30.6857H97.0781V1.67383Z" fill="#20B15A" />
                      <path d="M90.3386 12.546H94.4651V30.1667C94.4651 37.4788 90.1456 40.4898 85.0392 40.4898C80.23 40.4898 77.3356 37.2564 76.2519 34.6312L80.037 33.0588C80.7197 34.6755 82.3674 36.5891 85.0392 36.5891C88.3196 36.5891 90.3386 34.5569 90.3386 30.76V29.3362H90.1901C89.2103 30.5226 87.3401 31.5905 84.9651 31.5905C80.0072 31.5905 75.4648 27.2743 75.4648 21.7124C75.4648 16.1205 80.0072 11.76 84.9651 11.76C87.3253 11.76 89.2103 12.8131 90.1901 13.97H90.3386V12.546ZM90.6353 21.7124C90.6353 18.2119 88.3049 15.6607 85.3361 15.6607C82.3376 15.6607 79.8142 18.2119 79.8142 21.7124C79.8142 25.1681 82.3376 27.6748 85.3361 27.6748C88.3051 27.6898 90.6355 25.1681 90.6355 21.7124" fill="#3686F7" />
                      <path d="M51.9972 21.6375C51.9972 27.3479 47.5442 31.5453 42.0816 31.5453C36.6193 31.5453 32.166 27.3332 32.166 21.6375C32.166 15.8975 36.6193 11.7148 42.0816 11.7148C47.5442 11.7148 51.9972 15.8975 51.9972 21.6375ZM47.6629 21.6375C47.6629 18.0779 45.0799 15.6303 42.0816 15.6303C39.0833 15.6303 36.5003 18.0779 36.5003 21.6375C36.5003 25.1675 39.0833 27.6446 42.0816 27.6446C45.0801 27.6446 47.6629 25.1675 47.6629 21.6375Z" fill="#FF302F" />
                      <path d="M73.6535 21.6832C73.6535 27.3937 69.2002 31.5911 63.7379 31.5911C58.2753 31.5911 53.8223 27.3935 53.8223 21.6832C53.8223 15.9432 58.2753 11.7754 63.7379 11.7754C69.2002 11.7754 73.6535 15.9285 73.6535 21.6832ZM69.3041 21.6832C69.3041 18.1237 66.7214 15.6761 63.7228 15.6761C60.7243 15.6761 58.1416 18.1237 58.1416 21.6832C58.1416 25.2132 60.7246 27.6904 63.7228 27.6904C66.7362 27.6904 69.3041 25.1985 69.3041 21.6832Z" fill="#FFBA40" />
                      <path d="M15.8676 27.2439C9.64798 27.2439 4.77942 22.2305 4.77942 16.0158C4.77942 9.80126 9.64798 4.78793 15.8676 4.78793C19.2224 4.78793 21.6714 6.10793 23.4824 7.79888L26.4661 4.81769C23.9427 2.40007 20.5732 0.560547 15.8676 0.560547C7.34738 0.560785 0.177734 7.50245 0.177734 16.0158C0.177734 24.5291 7.34738 31.471 15.8676 31.471C20.4693 31.471 23.9427 29.9582 26.6591 27.1401C29.4496 24.3515 30.3105 20.4358 30.3105 17.2617C30.3105 16.2679 30.1919 15.2446 30.0582 14.4882H15.8676V18.6115H25.9762C25.6793 21.1925 24.863 22.9575 23.6606 24.1586C22.2059 25.6272 19.9053 27.2439 15.8676 27.2439Z" fill="#3686F7" />
                    </g>
                    <defs>
                      <clipPath id="clip0_600_8989">
                        <rect width="122" height="40" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>

              <div class="testimonial-widget-box">
                <div class="list-area">
                  <ul>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                      <i class="fa-solid fa-star"></i>
                    </li>
                  </ul>
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" viewBox="0 0 28 25" fill="none">
                    <path d="M15.3469 6.23963C15.3469 7.7063 15.7303 8.93797 16.4969 9.93463C17.0403 10.6213 17.7775 11.0724 18.7086 11.288C19.6253 11.5013 20.4919 11.5163 21.2753 11.3346C21.5419 12.918 21.1086 14.5946 20.0086 16.3713C18.9064 18.1469 17.4853 19.4819 15.7453 20.3763L18.3803 24.168C19.7136 23.508 20.9803 22.6713 22.1469 21.6596C23.3303 20.648 24.3803 19.4846 25.3136 18.1696C26.2469 16.8546 26.9469 15.3696 27.3969 13.6863C27.8469 12.003 27.9719 10.2863 27.7569 8.51963C27.4769 6.1863 26.7236 4.31963 25.4969 2.9363C24.2714 1.53519 22.7447 0.834633 20.9169 0.834633C19.3086 0.834633 17.9736 1.31797 16.9169 2.29797C15.8714 3.25797 15.3492 4.57352 15.3503 6.24463L15.3469 6.23963ZM0.140263 6.23963C0.140263 7.7063 0.523598 8.93797 1.29026 9.93463C1.83471 10.6346 2.57193 11.0885 3.50193 11.2963C4.43526 11.5019 5.29082 11.5141 6.06859 11.333C6.33526 12.8996 5.9186 14.583 4.81526 16.3663C3.71526 18.133 2.29526 19.4663 0.555264 20.3663L3.1836 24.168C4.51804 23.508 5.7736 22.6719 6.95026 21.6596C8.14426 20.6329 9.20475 19.4604 10.1069 18.1696C11.0336 16.853 11.7236 15.3696 12.1736 13.6863C12.6307 12.0043 12.7536 10.2489 12.5353 8.51963C12.2586 6.1863 11.5086 4.31963 10.2853 2.9363C9.06304 1.54519 7.53915 0.849634 5.7136 0.849634C4.10248 0.847412 2.76804 1.33463 1.71026 2.3113C0.664705 3.2713 0.141375 4.58685 0.140263 6.25797V6.23963Z" fill="#F4D445" />
                  </svg>
                </div>
                <div class="space16"></div>
                <p>“Their expertise in financial strategy helped identify growth opportunities we never considered. With their guidance, we increased our revenue by 30% in just one year! The team was not only knowledgeable genuinely invested in our success.”</p>
                <div class="space24"></div>
                <div class="author-area">
                  <div class="images-area">
                    <div class="img1">
                      <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                    </div>
                    <div class="text">
                      <a href="team">Gabriel Krajcik</a>
                      <p>Businessman</p>
                    </div>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="122" height="41" viewBox="0 0 122 41" fill="none">
                    <g clip-path="url(#clip0_600_8989)">
                      <path d="M118.199 24.9463L121.584 27.2009C120.486 28.8175 117.858 31.5913 113.316 31.5913C107.675 31.5913 103.475 27.2306 103.475 21.6832C103.475 15.7802 107.72 11.7754 112.841 11.7754C117.992 11.7754 120.515 15.869 121.332 18.079L121.777 19.2063L108.507 24.6942C109.516 26.6818 111.09 27.6904 113.316 27.6904C115.543 27.6904 117.086 26.5928 118.199 24.9463ZM107.794 21.3721L116.656 17.6935C116.166 16.4625 114.711 15.5875 112.974 15.5875C110.763 15.5875 107.69 17.5454 107.794 21.3721Z" fill="#FF302F" />
                      <path d="M97.0781 1.67383H101.353V30.6857H97.0781V1.67383Z" fill="#20B15A" />
                      <path d="M90.3386 12.546H94.4651V30.1667C94.4651 37.4788 90.1456 40.4898 85.0392 40.4898C80.23 40.4898 77.3356 37.2564 76.2519 34.6312L80.037 33.0588C80.7197 34.6755 82.3674 36.5891 85.0392 36.5891C88.3196 36.5891 90.3386 34.5569 90.3386 30.76V29.3362H90.1901C89.2103 30.5226 87.3401 31.5905 84.9651 31.5905C80.0072 31.5905 75.4648 27.2743 75.4648 21.7124C75.4648 16.1205 80.0072 11.76 84.9651 11.76C87.3253 11.76 89.2103 12.8131 90.1901 13.97H90.3386V12.546ZM90.6353 21.7124C90.6353 18.2119 88.3049 15.6607 85.3361 15.6607C82.3376 15.6607 79.8142 18.2119 79.8142 21.7124C79.8142 25.1681 82.3376 27.6748 85.3361 27.6748C88.3051 27.6898 90.6355 25.1681 90.6355 21.7124" fill="#3686F7" />
                      <path d="M51.9972 21.6375C51.9972 27.3479 47.5442 31.5453 42.0816 31.5453C36.6193 31.5453 32.166 27.3332 32.166 21.6375C32.166 15.8975 36.6193 11.7148 42.0816 11.7148C47.5442 11.7148 51.9972 15.8975 51.9972 21.6375ZM47.6629 21.6375C47.6629 18.0779 45.0799 15.6303 42.0816 15.6303C39.0833 15.6303 36.5003 18.0779 36.5003 21.6375C36.5003 25.1675 39.0833 27.6446 42.0816 27.6446C45.0801 27.6446 47.6629 25.1675 47.6629 21.6375Z" fill="#FF302F" />
                      <path d="M73.6535 21.6832C73.6535 27.3937 69.2002 31.5911 63.7379 31.5911C58.2753 31.5911 53.8223 27.3935 53.8223 21.6832C53.8223 15.9432 58.2753 11.7754 63.7379 11.7754C69.2002 11.7754 73.6535 15.9285 73.6535 21.6832ZM69.3041 21.6832C69.3041 18.1237 66.7214 15.6761 63.7228 15.6761C60.7243 15.6761 58.1416 18.1237 58.1416 21.6832C58.1416 25.2132 60.7246 27.6904 63.7228 27.6904C66.7362 27.6904 69.3041 25.1985 69.3041 21.6832Z" fill="#FFBA40" />
                      <path d="M15.8676 27.2439C9.64798 27.2439 4.77942 22.2305 4.77942 16.0158C4.77942 9.80126 9.64798 4.78793 15.8676 4.78793C19.2224 4.78793 21.6714 6.10793 23.4824 7.79888L26.4661 4.81769C23.9427 2.40007 20.5732 0.560547 15.8676 0.560547C7.34738 0.560785 0.177734 7.50245 0.177734 16.0158C0.177734 24.5291 7.34738 31.471 15.8676 31.471C20.4693 31.471 23.9427 29.9582 26.6591 27.1401C29.4496 24.3515 30.3105 20.4358 30.3105 17.2617C30.3105 16.2679 30.1919 15.2446 30.0582 14.4882H15.8676V18.6115H25.9762C25.6793 21.1925 24.863 22.9575 23.6606 24.1586C22.2059 25.6272 19.9053 27.2439 15.8676 27.2439Z" fill="#3686F7" />
                    </g>
                    <defs>
                      <clipPath id="clip0_600_89891">
                        <rect width="122" height="40" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-images-area">
            <img src="/img/elements/elements18.png" alt="" class="elements18" />
            <div class="img1 text-start reveal">
              <img src="/img/all-images/testimonial/testimonial-img4.png" alt="" />
            </div>
            <div class="img2 reveal">
              <img src="/img/all-images/testimonial/testimonial-img5.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== TESTIMONIAL AREA ENDS ======= -->

  <!-- ===== CONTACT AREA STARTS ======= -->
  <div class="contact2-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="contact-heading heading3">
            <h5 data-aos="fade-left" data-aos-duration="800">Contact Us</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Your Success Starts with a Conversation</h2>
            <div class="space12"></div>
            <div data-aos="fade-left" data-aos-duration="1000">
              <div class="contact-author-boxarea">
                <div class="icons">
                  <img src="/img/icons/clock1.svg" alt="" />
                </div>
                <div class="text">
                  <h6>Contact us</h6>
                  <div class="space16"></div>
                  <a href="#">8708 Technology Forest Pl Suite 125 -G, The Woodlands</a>
                </div>
              </div>
            </div>

            <div data-aos="fade-left" data-aos-duration="1100">
              <div class="contact-author-boxarea">
                <div class="icons">
                  <img src="/img/icons/phone4.svg" alt="" />
                </div>
                <div class="text">
                  <h6>Call or text</h6>
                  <div class="space16"></div>
                  <a href="tel:123-456-7890">123-456-7890</a>
                </div>
              </div>
            </div>

            <div data-aos="fade-left" data-aos-duration="1200">
              <div class="contact-author-boxarea">
                <div class="icons">
                  <img src="/img/icons/mail4.svg" alt="" />
                </div>
                <div class="text">
                  <h6>Email us today</h6>
                  <div class="space16"></div>
                  <a href="mailto:info@finazze.com">info@finazze.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-6" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="contact-main-boxarea">
            <h4>Leave A Message</h4>
            <div class="space12"></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-area">
                  <input type="text" placeholder="Full Name*" />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="input-area">
                  <input type="number" placeholder="Phone Number*" />
                </div>
              </div>

              <div class="col-lg-12">
                <div class="input-area">
                  <input type="email" placeholder="Email Address*" />
                </div>
              </div>

              <div class="col-lg-12">
                <div class="input-area">
                  <select name="country" id="country" class="country-area nice-select">
                    <option value="1" data-display="Service Type">Service Type</option>
                    <option value="">Belgium</option>
                    <option value="">Brezil</option>
                    <option value="">Argentina</option>
                    <option value="">Bangladesh</option>
                    <option value="">Germany</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="input-area">
                  <textarea placeholder="Message"></textarea>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="input-area text-end">
                  <button type="submit" class="vl-btn3">submit now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CONTACT AREA ENDS ======= -->

  <!-- ===== BLOG AREA STARTS ======= -->
  <div class="vl-blog-3-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="vl-blog-1-section-box heading3 text-center space-margin60">
            <h5 class="vl-section-subtitle">Our Blog</h5>
            <div class="space16"></div>
            <h2 class="vl-section-title text-anime-style-3">Business Insights Navigating Today’s Markets</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12" data-aos="zoom-in-up" data-aos-duration="900">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="/img/all-images/blog/blog-img6.png" alt="" />
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
                        <g clip-path="url(#clip0_600_6756)">
                          <path d="M5.61627 0C5.80006 0 5.97633 0.0811248 6.1063 0.225528C6.23626 0.369931 6.30927 0.565783 6.30927 0.77V2.2099H13.7511V0.7799C13.7511 0.575683 13.8241 0.379831 13.9541 0.235428C14.084 0.0910248 14.2603 0.0099 14.4441 0.0099C14.6279 0.0099 14.8042 0.0910248 14.9341 0.235428C15.0641 0.379831 15.1371 0.575683 15.1371 0.7799V2.2099H17.82C18.345 2.2099 18.8484 2.44153 19.2197 2.85388C19.591 3.26622 19.7997 3.82551 19.8 4.4088V19.8011C19.7997 20.3844 19.591 20.9437 19.2197 21.356C18.8484 21.7684 18.345 22 17.82 22H1.98C1.45504 22 0.951572 21.7684 0.580278 21.356C0.208985 20.9437 0.000262479 20.3844 0 19.8011L0 4.4088C0.000262479 3.82551 0.208985 3.26622 0.580278 2.85388C0.951572 2.44153 1.45504 2.2099 1.98 2.2099H4.92327V0.7689C4.92353 0.564874 4.99666 0.369304 5.12659 0.225139C5.25653 0.0809736 5.43265 -2.0819e-07 5.61627 0ZM1.386 8.5162V19.8011C1.386 19.8878 1.40136 19.9736 1.43122 20.0537C1.46107 20.1337 1.50482 20.2065 1.55998 20.2678C1.61514 20.3291 1.68062 20.3777 1.75269 20.4109C1.82475 20.444 1.90199 20.4611 1.98 20.4611H17.82C17.898 20.4611 17.9752 20.444 18.0473 20.4109C18.1194 20.3777 18.1849 20.3291 18.24 20.2678C18.2952 20.2065 18.3389 20.1337 18.3688 20.0537C18.3986 19.9736 18.414 19.8878 18.414 19.8011V8.5316L1.386 8.5162ZM6.60033 16.0809V17.9135H4.95V16.0809H6.60033ZM10.7247 16.0809V17.9135H9.07533V16.0809H10.7247ZM14.85 16.0809V17.9135H13.1997V16.0809H14.85ZM6.60033 11.7062V13.5388H4.95V11.7062H6.60033ZM10.7247 11.7062V13.5388H9.07533V11.7062H10.7247ZM14.85 11.7062V13.5388H13.1997V11.7062H14.85ZM4.92327 3.7488H1.98C1.90199 3.7488 1.82475 3.76587 1.75269 3.79904C1.68062 3.83221 1.61514 3.88082 1.55998 3.94211C1.50482 4.0034 1.46107 4.07615 1.43122 4.15623C1.40136 4.2363 1.386 4.32213 1.386 4.4088V6.9773L18.414 6.9927V4.4088C18.414 4.32213 18.3986 4.2363 18.3688 4.15623C18.3389 4.07615 18.2952 4.0034 18.24 3.94211C18.1849 3.88082 18.1194 3.83221 18.0473 3.79904C17.9752 3.76587 17.898 3.7488 17.82 3.7488H15.1371V4.7707C15.1371 4.97492 15.0641 5.17077 14.9341 5.31517C14.8042 5.45958 14.6279 5.5407 14.4441 5.5407C14.2603 5.5407 14.084 5.45958 13.9541 5.31517C13.8241 5.17077 13.7511 4.97492 13.7511 4.7707V3.7488H6.30927V4.7608C6.30927 4.96502 6.23626 5.16087 6.1063 5.30527C5.97633 5.44968 5.80006 5.5308 5.61627 5.5308C5.43247 5.5308 5.25621 5.44968 5.12624 5.30527C4.99628 5.16087 4.92327 4.96502 4.92327 4.7608V3.7488Z" fill="#061D19" />
                        </g>
                        <defs>
                          <clipPath id="clip0_600_6756">
                            <rect width="19.8" height="22" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>8 December 2025 <span>|</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M4.9668 17.5C4.9668 14.2783 7.57847 11.6667 10.8001 11.6667C14.0218 11.6667 16.6335 14.2783 16.6335 17.5M14.1335 5.83333C14.1335 7.67428 12.641 9.16667 10.8001 9.16667C8.95918 9.16667 7.4668 7.67428 7.4668 5.83333C7.4668 3.99238 8.95918 2.5 10.8001 2.5C12.641 2.5 14.1335 3.99238 14.1335 5.83333Z" stroke="#061D19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>By Alex Roy
                    </a>
                  </li>
                </ul>
              </div>
              <div class="space24"></div>
              <h4 class="vl-blog-1-title"><a href="blog-single">Unlock Financial Success Expert Insights to Help Your Business Thrive.</a></h4>
              <div class="space16"></div>
              <p>Mastering your business’s finances is key long-term growth. In this blog, we share proven strategies to help you manage.</p>
              <div class="vl-blog-1-icon">
                <a href="blog-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
                    <path d="M16.0918 32.8674L32.426 16.5333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.0605 16.5315H32.4249V29.8958" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="/img/all-images/blog/blog-img7.png" alt="" />
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
                        <g clip-path="url(#clip0_600_6756)">
                          <path d="M5.61627 0C5.80006 0 5.97633 0.0811248 6.1063 0.225528C6.23626 0.369931 6.30927 0.565783 6.30927 0.77V2.2099H13.7511V0.7799C13.7511 0.575683 13.8241 0.379831 13.9541 0.235428C14.084 0.0910248 14.2603 0.0099 14.4441 0.0099C14.6279 0.0099 14.8042 0.0910248 14.9341 0.235428C15.0641 0.379831 15.1371 0.575683 15.1371 0.7799V2.2099H17.82C18.345 2.2099 18.8484 2.44153 19.2197 2.85388C19.591 3.26622 19.7997 3.82551 19.8 4.4088V19.8011C19.7997 20.3844 19.591 20.9437 19.2197 21.356C18.8484 21.7684 18.345 22 17.82 22H1.98C1.45504 22 0.951572 21.7684 0.580278 21.356C0.208985 20.9437 0.000262479 20.3844 0 19.8011L0 4.4088C0.000262479 3.82551 0.208985 3.26622 0.580278 2.85388C0.951572 2.44153 1.45504 2.2099 1.98 2.2099H4.92327V0.7689C4.92353 0.564874 4.99666 0.369304 5.12659 0.225139C5.25653 0.0809736 5.43265 -2.0819e-07 5.61627 0ZM1.386 8.5162V19.8011C1.386 19.8878 1.40136 19.9736 1.43122 20.0537C1.46107 20.1337 1.50482 20.2065 1.55998 20.2678C1.61514 20.3291 1.68062 20.3777 1.75269 20.4109C1.82475 20.444 1.90199 20.4611 1.98 20.4611H17.82C17.898 20.4611 17.9752 20.444 18.0473 20.4109C18.1194 20.3777 18.1849 20.3291 18.24 20.2678C18.2952 20.2065 18.3389 20.1337 18.3688 20.0537C18.3986 19.9736 18.414 19.8878 18.414 19.8011V8.5316L1.386 8.5162ZM6.60033 16.0809V17.9135H4.95V16.0809H6.60033ZM10.7247 16.0809V17.9135H9.07533V16.0809H10.7247ZM14.85 16.0809V17.9135H13.1997V16.0809H14.85ZM6.60033 11.7062V13.5388H4.95V11.7062H6.60033ZM10.7247 11.7062V13.5388H9.07533V11.7062H10.7247ZM14.85 11.7062V13.5388H13.1997V11.7062H14.85ZM4.92327 3.7488H1.98C1.90199 3.7488 1.82475 3.76587 1.75269 3.79904C1.68062 3.83221 1.61514 3.88082 1.55998 3.94211C1.50482 4.0034 1.46107 4.07615 1.43122 4.15623C1.40136 4.2363 1.386 4.32213 1.386 4.4088V6.9773L18.414 6.9927V4.4088C18.414 4.32213 18.3986 4.2363 18.3688 4.15623C18.3389 4.07615 18.2952 4.0034 18.24 3.94211C18.1849 3.88082 18.1194 3.83221 18.0473 3.79904C17.9752 3.76587 17.898 3.7488 17.82 3.7488H15.1371V4.7707C15.1371 4.97492 15.0641 5.17077 14.9341 5.31517C14.8042 5.45958 14.6279 5.5407 14.4441 5.5407C14.2603 5.5407 14.084 5.45958 13.9541 5.31517C13.8241 5.17077 13.7511 4.97492 13.7511 4.7707V3.7488H6.30927V4.7608C6.30927 4.96502 6.23626 5.16087 6.1063 5.30527C5.97633 5.44968 5.80006 5.5308 5.61627 5.5308C5.43247 5.5308 5.25621 5.44968 5.12624 5.30527C4.99628 5.16087 4.92327 4.96502 4.92327 4.7608V3.7488Z" fill="#061D19" />
                        </g>
                        <defs>
                          <clipPath id="clip0_600_67561">
                            <rect width="19.8" height="22" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>8 December 2025 <span>|</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M4.9668 17.5C4.9668 14.2783 7.57847 11.6667 10.8001 11.6667C14.0218 11.6667 16.6335 14.2783 16.6335 17.5M14.1335 5.83333C14.1335 7.67428 12.641 9.16667 10.8001 9.16667C8.95918 9.16667 7.4668 7.67428 7.4668 5.83333C7.4668 3.99238 8.95918 2.5 10.8001 2.5C12.641 2.5 14.1335 3.99238 14.1335 5.83333Z" stroke="#061D19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>By Alex Roy
                    </a>
                  </li>
                </ul>
              </div>
              <div class="space24"></div>
              <h4 class="vl-blog-1-title"><a href="blog-single">The Future Business Finance Emerging Trends and Technologies Shaping.</a></h4>
              <div class="space16"></div>
              <p>The world of business finance is evolving rapidly. Our blog keeps you ahead of the curve by exploring the latest trend.</p>
              <div class="vl-blog-1-icon">
                <a href="blog-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
                    <path d="M16.0918 32.8674L32.426 16.5333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.0605 16.5315H32.4249V29.8958" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== BLOG AREA ENDS ======= -->

  <!-- ===== CTA AREA STARTS ======= -->
  <div class="cta3-section-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta-bg-area" data-aos="fade-down" data-aos-duration="1000" style="background-image: url(/img/all-images/bg/cta-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div class="heading2">
                  <h2>Empowering Businesses, <br class="d-lg-block d-none" /> One Step at a Time</h2>
                  <img src="/img/elements/elements17.png" alt="" class="elements17 aniamtion-key-1" />
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="cta-author-area">
                      <div class="icons">
                        <img src="/img/icons/phone3.svg" alt="" />
                      </div>
                      <div class="text">
                        <p>Call Us 24/7</p>
                        <div class="space18"></div>
                        <a href="tel:+1234567890">+123 456 7890</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6">
                    <div class="cta-author-area">
                      <div class="icons">
                        <img src="/img/icons/mail3.svg" alt="" />
                      </div>
                      <div class="text">
                        <p>Mail Us Anytime</p>
                        <div class="space18"></div>
                        <a href="mailto:finazze@gmail.com">finazze@gmail.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="cta-images-area">
                  <div class="img1">
                    <img src="/img/all-images/cta/cta-img2.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CTA AREA ENDS ======= -->

  <!-- ===== FOOTER AREA STARTS ======= -->
  <div class="vl-footer3-section-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-logo1">
            <img src="/img/logo/logo1.png" alt="" />
            <div class="space24"></div>
            <p>We are committed to providing with the highest level of service expertise business and finance if you have any.</p>
            <div class="space24"></div>
            <ul>
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" class="m-0"><i class="fa-brands fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="space30 d-md-none d-block"></div>
          <div class="vl-footer-widget first-padding">
            <h3>Quick Links</h3>
            <div class="space4"></div>
            <ul>
              <li>
                <a href="about">About Us</a>
              </li>
              <li>
                <a href="service">Our Services</a>
              </li>
              <li>
                <a href="project">Case Studies</a>
              </li>
              <li>
                <a href="pricing">Pricing Plan</a>
              </li>
              <li>
                <a href="contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="space30 d-md-none d-block"></div>
          <div class="vl-footer-widget">
            <h3>Our services</h3>
            <div class="space4"></div>
            <ul>
              <li>
                <a href="about">Financial Strategy</a>
              </li>
              <li>
                <a href="service">Business Growth</a>
              </li>
              <li>
                <a href="project">Our Process</a>
              </li>
              <li>
                <a href="#">Our Work</a>
              </li>
              <li>
                <a href="contact">Reviews</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget">
            <div class="space30 d-lg-none d-block"></div>
            <h3>Subscribe Newsletter</h3>
            <div class="space24"></div>
            <form>
              <input type="text" placeholder="Enter Your Email" />
              <div class="space16"></div>
              <button>Subscribe Now</button>
            </form>
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="vl-copyright-area">
            <p>© Copyright 2025 - Finazze. All Right Reserved</p>
            <ul>
              <li>
                <a href="#">Privacy Policy <span>|</span></a>
              </li>
              <li>
                <a href="#">Terms & Conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== FOOTER AREA ENDS ======= -->
<%- contentFor('extra_javascript') %>
