<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <%- include('partials/header/navbar4') %>

  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero4-section-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hero4-heading">
            <h5 data-aos="fade-left" data-aos-duration="800">Strategic Solutions For Financial Growth</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">Fuel Your Business Growth An Tailored Financial Services</h2>
            <div class="space20"></div>
            <p data-aos="fade-left" data-aos-duration="900">We provide expert financial consulting services designed to help businesses all sizes achieve their goals, whether you're looking.</p>
            <div class="space32"></div>
            <div class="btn-area1">
              <a href="service" class="vl-btn4">Explore Our Services <span><i class="fa-solid fa-arrow-right"></i></span></a>
              <a href="contact" class="vl-btn4 btn2">Discover More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
            <div class="space48"></div>
            <ul data-aos="fade-left" data-aos-duration="1100">
              <li>
                <img src="/img/icons/hero-icon3.svg" alt="" /> 4.5 <i class="fa-solid fa-star"></i> On Play Store
              </li>

              <li>
                <img src="/img/icons/hero-icon2.svg" alt="" /> 4.5 <i class="fa-solid fa-star"></i> On App Store
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="images-area">
            <img src="/img/elements/elements23.png" alt="" class="elements23 keyframe5" />
            <div class="img1 image-anime reveal">
              <img src="/img/all-images/hero/hero-img3.png" alt="" />
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img2 reveal">
                  <img src="/img/elements/elements20.png" alt="" />
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="img2 reveal">
                  <img src="/img/elements/elements21.png" alt="" />
                  <img src="/img/elements/elements22.png" alt="" class="elements22" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== ABOUT AREA STARTS ======= -->
  <div class="about4-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="about-images">
            <img src="/img/elements/elements35.png" alt="" class="elements35 aniamtion-key-1" />
            <img src="/img/elements/elements34.png" alt="" class="elements34 aniamtion-key-2" />
            <img src="/img/elements/elements33.png" alt="" class="elements33 keyframe5" />
            <div class="img1 image-anime reveal">
              <img src="/img/all-images/about/about-img6.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="about-heading heading4">
            <h5 data-aos="fade-left" data-aos-duration="800">About Us</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Trusted Partner Business And Financial Growth</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">At Finazze, we are dedicated to helping businesses achieve long-term success through expert financial planning and strategic advisory services.</p>
            <div class="space32"></div>
            <div data-aos="fade-left" data-aos-duration="1000">
              <div class="about-boxarea">
                <div class="icons">
                  <img src="/img/icons/about3.svg" alt="" />
                </div>
                <div class="text">
                  <a href="service-single">Your Trusted Partner in Finance</a>
                  <div class="space16"></div>
                  <p>We are driven a commitment to excellence, integrity, & innovation, ensuring that we not only meet exceed.</p>
                </div>
              </div>
            </div>
            <div class="space30"></div>
            <div data-aos="fade-left" data-aos-duration="1100">
              <div class="about-boxarea">
                <div class="icons">
                  <img src="/img/icons/about4.svg" alt="" />
                </div>
                <div class="text">
                  <a href="service-single">Built on Trust, Driven by Results</a>
                  <div class="space16"></div>
                  <p>Our mission is simple: to be your trusted partner in achieving sustainable growth and financial success.</p>
                </div>
              </div>
            </div>

            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="contact" class="vl-btn4">Contact us <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== ABOUT AREA ENDS ======= -->

  <!-- ===== SERVICE AREA STARTS ======= -->
  <div class="service4-section-area sp2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="heading4">
            <h5 data-aos="fade-left" data-aos-duration="800">Our Service</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Expert Financial Solutions for Your Business</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">At Finazze, we offer a range of specialized services designed to meet the unique financial needs of your business from strategic financial planning.</p>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="service" class="vl-btn4">View More All Service <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="service-images">
            <img src="/img/elements/elements32.png" alt="" class="elements32 aniamtion-key-1" />
            <img src="/img/elements/elements33.png" alt="" class="elements33 keyframe5" />
            <div class="img1 image-anime reveal">
              <img src="/img/all-images/service/service-img5.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="space48"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="service-all-boxarea-area">
            <div class="row">
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="service-boxarea">
                  <div class="icons">
                    <img src="/img/icons/service13.svg" alt="" />
                  </div>
                  <div class="space24"></div>
                  <a href="service-single">Financial Strategy & Advisory</a>
                  <div class="space16"></div>
                  <p>Our Financial Strategy And Advisory service helps businesses make sound financial decisions that drive growth and profitability we work closely with your.</p>
                  <div class="space24"></div>
                  <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="service-boxarea">
                  <div class="icons">
                    <img src="/img/icons/service14.svg" alt="" />
                  </div>
                  <div class="space24"></div>
                  <a href="service-single">Business Growth Planning</a>
                  <div class="space16"></div>
                  <p>Our Business Growth Planning service is tailored to companies achieve sustainable, scalable growth. We analyze your current financial structure.</p>
                  <div class="space24"></div>
                  <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="service-boxarea">
                  <div class="icons">
                    <img src="/img/icons/service15.svg" alt="" />
                  </div>
                  <div class="space24"></div>
                  <a href="service-single">Debt Restructuring Services</a>
                  <div class="space16"></div>
                  <p>Our Debt Restructuring Services are designed help businesses manage their more effectively, providing relief from financial strain and guiding them toward.</p>
                  <div class="space24"></div>
                  <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== SERVICE AREA ENDS ======= -->

  <!-- ===== PROJECT AREA STARTS ======= -->
  <div class="project4-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="heading4 space-margin60">
            <h5 data-aos="fade-left" data-aos-duration="800">Our Portfolio</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Groundbreaking Projects Redefining Success</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-duration="1000">
          <div class="project4-main-slider owl-carousel">
            <div class="project-box-slider">
              <div class="img1">
                <img src="/img/all-images/project/project-img11.png" alt="" />
              </div>
              <div class="content-area">
                <div class="arrow">
                  <a href="project"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="space26"></div>
                <h5>Business And Finance</h5>
                <div class="space12"></div>
                <a href="project-single">Finance Solutions</a>
              </div>
            </div>

            <div class="project-box-slider">
              <div class="img1">
                <img src="/img/all-images/project/project-img12.png" alt="" />
              </div>
              <div class="content-area">
                <div class="arrow">
                  <a href="project"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="space26"></div>
                <h5>Business And Finance</h5>
                <div class="space12"></div>
                <a href="project-single">Finance Solutions</a>
              </div>
            </div>

            <div class="project-box-slider">
              <div class="img1">
                <img src="/img/all-images/project/project-img13.png" alt="" />
              </div>
              <div class="content-area">
                <div class="arrow">
                  <a href="project"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="space26"></div>
                <h5>Business And Finance</h5>
                <div class="space12"></div>
                <a href="project-single">Finance Solutions</a>
              </div>
            </div>
            <div class="project-box-slider">
              <div class="img1">
                <img src="/img/all-images/project/project-img12.png" alt="" />
              </div>
              <div class="content-area">
                <div class="arrow">
                  <a href="project"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="space26"></div>
                <h5>Business And Finance</h5>
                <div class="space12"></div>
                <a href="project-single">Finance Solutions</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== PROJECT AREA ENDS ======= -->

  <!-- ===== TESTIMONIAL AREA STARTS ======= -->
  <div class="testimonial4-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="heading4 text-center space-margin60">
            <h5 data-aos="fade-left" data-aos-duration="800">Testimonial</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Why Clients Choose Us</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="testimonial4-main-slider owl-carousel">
            <div class="testimonial-box-area">
              <div class="img1">
                <img src="/img/all-images/testimonial/testi-img4.png" alt="" />
              </div>
              <p>“Choosing Finazze was one of the best decision we’ve made for our business. Their financial expertise & personalized approach have helped us streamline our operations and significantly.”</p>
              <div class="space24"></div>
              <div class="content-area">
                <div class="text">
                  <a href="team">Mrs. Blanca Hickle</a>
                  <div class="space8"></div>
                  <p>Owner Business</p>
                </div>
                <img src="/img/icons/quoto1.svg" alt="" />
              </div>
            </div>

            <div class="testimonial-box-area">
              <div class="img1">
                <img src="/img/all-images/testimonial/testi-img5.png" alt="" />
              </div>
              <p>“Working with Finazze has been an absolute game-changer for our business. Their deep understanding of finance, combined with their hands on approach, has given us the tools we need.”</p>
              <div class="space24"></div>
              <div class="content-area">
                <div class="text">
                  <a href="team">Mrs. Blanca Hickle</a>
                  <div class="space8"></div>
                  <p>Owner Business</p>
                </div>
                <img src="/img/icons/quoto1.svg" alt="" />
              </div>
            </div>

            <div class="testimonial-box-area">
              <div class="img1">
                <img src="/img/all-images/testimonial/testi-img6.png" alt="" />
              </div>
              <p>“Choosing Finazze was one of the best decision we’ve made for our business. Their financial expertise & personalized approach have helped us streamline our operations and significantly.”</p>
              <div class="space24"></div>
              <div class="content-area">
                <div class="text">
                  <a href="team">Mrs. Blanca Hickle</a>
                  <div class="space8"></div>
                  <p>Owner Business</p>
                </div>
                <img src="/img/icons/quoto1.svg" alt="" />
              </div>
            </div>
            <div class="testimonial-box-area">
              <div class="img1">
                <img src="/img/all-images/testimonial/testi-img5.png" alt="" />
              </div>
              <p>“Working with Finazze has been an absolute game-changer for our business. Their deep understanding of finance, combined with their hands on approach, has given us the tools we need.”</p>
              <div class="space24"></div>
              <div class="content-area">
                <div class="text">
                  <a href="team">Mrs. Blanca Hickle</a>
                  <div class="space8"></div>
                  <p>Owner Business</p>
                </div>
                <img src="/img/icons/quoto1.svg" alt="" />
              </div>
            </div>
            <div class="testimonial-box-area">
              <div class="img1">
                <img src="/img/all-images/testimonial/testi-img6.png" alt="" />
              </div>
              <p>“Choosing Finazze was one of the best decision we’ve made for our business. Their financial expertise & personalized approach have helped us streamline our operations and significantly.”</p>
              <div class="space24"></div>
              <div class="content-area">
                <div class="text">
                  <a href="team">Mrs. Blanca Hickle</a>
                  <div class="space8"></div>
                  <p>Owner Business</p>
                </div>
                <img src="/img/icons/quoto1.svg" alt="" />
              </div>
            </div>
            <div class="testimonial-box-area">
              <div class="img1">
                <img src="/img/all-images/testimonial/testi-img5.png" alt="" />
              </div>
              <p>“Working with Finazze has been an absolute game-changer for our business. Their deep understanding of finance, combined with their hands on approach, has given us the tools we need.”</p>
              <div class="space24"></div>
              <div class="content-area">
                <div class="text">
                  <a href="team">Mrs. Blanca Hickle</a>
                  <div class="space8"></div>
                  <p>Owner Business</p>
                </div>
                <img src="/img/icons/quoto1.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== TESTIMONIAL AREA ENDS ======= -->

  <!-- ===== CONTACT AREA STARTS ======= -->
  <div class="contact4-section-area sp1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="contact-header heading4">
            <h5 data-aos="fade-left" data-aos-duration="800">Contact Us</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Let’s Talk About Financial Future Contact Us Today</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">We’re here to help you take the next step toward financial success. Whether you have questions about our services or need tailored advice for your business, our team experts is ready to assist you.</p>
            <div class="space32"></div>
            <div class="contact-boxarea">
              <div class="row">
                <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="900">
                  <div class="cta-author-area">
                    <div class="icons">
                      <img src="/img/icons/phn5.svg" alt="" />
                    </div>
                    <div class="space16"></div>
                    <div class="text">
                      <p>Gives us a Call</p>
                      <div class="space18"></div>
                      <a href="tel:+1234567890">+123 456 7890</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                  <div class="cta-author-area">
                    <div class="icons">
                      <img src="/img/icons/mail5.svg" alt="" />
                    </div>
                    <div class="space16"></div>
                    <div class="text">
                      <p>Send me Mail</p>
                      <div class="space18"></div>
                      <a href="mailto:finazze@gmail.com">Finazze@hotmail.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="contact-main-boxarea">
            <h4>Leave A Message</h4>
            <div class="space12"></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-area">
                  <input type="text" placeholder="Full Name*" />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="input-area">
                  <input type="number" placeholder="Phone Number*" />
                </div>
              </div>

              <div class="col-lg-12">
                <div class="input-area">
                  <input type="email" placeholder="Email Address*" />
                </div>
              </div>

              <div class="col-lg-12">
                <div class="input-area">
                  <select name="country" id="country" class="country-area nice-select">
                    <option value="1" data-display="Service Type">Service Type</option>
                    <option value="">Belgium</option>
                    <option value="">Brezil</option>
                    <option value="">Argentina</option>
                    <option value="">Bangladesh</option>
                    <option value="">Germany</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="input-area">
                  <textarea placeholder="Message"></textarea>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="input-area text-end">
                  <button type="submit" class="vl-btn4">submit now <span><i class="fa-solid fa-arrow-right"></i></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CONTACT AREA ENDS ======= -->

  <!-- ===== BRAND AREA STARTS ======= -->
  <div class="brand1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading4 text-center space-margin60">
            <h4>Join 4,000+ companies already growing</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="700">
          <div class="brand-box">
            <img src="/img/elements/elements24.png" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
          <div class="brand-box">
            <img src="/img/elements/elements25.png" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
          <div class="brand-box">
            <img src="/img/elements/elements26.png" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="brand-box">
            <img src="/img/elements/elements27.png" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
          <div class="brand-box">
            <img src="/img/elements/elements28.png" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="1200">
          <div class="brand-box">
            <img src="/img/elements/elements29.png" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="1300">
          <div class="brand-box">
            <img src="/img/elements/elements30.png" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up" data-aos-duration="1400">
          <div class="brand-box">
            <img src="/img/elements/elements31.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== BRAND AREA ENDS ======= -->

  <!-- ===== BLOG AREA STARTS ======= -->
  <div class="vl-blog-4-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="vl-blog-1-section-box heading4 text-center space-margin60">
            <h5 class="vl-section-subtitle">Our Blog</h5>
            <div class="space16"></div>
            <h2 class="vl-section-title text-anime-style-3">Our Latest Blog & News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12" data-aos="zoom-in-up" data-aos-duration="900">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="/img/all-images/blog/blog-img8.png" alt="" />
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
                        <g clip-path="url(#clip0_600_6756)">
                          <path d="M5.61627 0C5.80006 0 5.97633 0.0811248 6.1063 0.225528C6.23626 0.369931 6.30927 0.565783 6.30927 0.77V2.2099H13.7511V0.7799C13.7511 0.575683 13.8241 0.379831 13.9541 0.235428C14.084 0.0910248 14.2603 0.0099 14.4441 0.0099C14.6279 0.0099 14.8042 0.0910248 14.9341 0.235428C15.0641 0.379831 15.1371 0.575683 15.1371 0.7799V2.2099H17.82C18.345 2.2099 18.8484 2.44153 19.2197 2.85388C19.591 3.26622 19.7997 3.82551 19.8 4.4088V19.8011C19.7997 20.3844 19.591 20.9437 19.2197 21.356C18.8484 21.7684 18.345 22 17.82 22H1.98C1.45504 22 0.951572 21.7684 0.580278 21.356C0.208985 20.9437 0.000262479 20.3844 0 19.8011L0 4.4088C0.000262479 3.82551 0.208985 3.26622 0.580278 2.85388C0.951572 2.44153 1.45504 2.2099 1.98 2.2099H4.92327V0.7689C4.92353 0.564874 4.99666 0.369304 5.12659 0.225139C5.25653 0.0809736 5.43265 -2.0819e-07 5.61627 0ZM1.386 8.5162V19.8011C1.386 19.8878 1.40136 19.9736 1.43122 20.0537C1.46107 20.1337 1.50482 20.2065 1.55998 20.2678C1.61514 20.3291 1.68062 20.3777 1.75269 20.4109C1.82475 20.444 1.90199 20.4611 1.98 20.4611H17.82C17.898 20.4611 17.9752 20.444 18.0473 20.4109C18.1194 20.3777 18.1849 20.3291 18.24 20.2678C18.2952 20.2065 18.3389 20.1337 18.3688 20.0537C18.3986 19.9736 18.414 19.8878 18.414 19.8011V8.5316L1.386 8.5162ZM6.60033 16.0809V17.9135H4.95V16.0809H6.60033ZM10.7247 16.0809V17.9135H9.07533V16.0809H10.7247ZM14.85 16.0809V17.9135H13.1997V16.0809H14.85ZM6.60033 11.7062V13.5388H4.95V11.7062H6.60033ZM10.7247 11.7062V13.5388H9.07533V11.7062H10.7247ZM14.85 11.7062V13.5388H13.1997V11.7062H14.85ZM4.92327 3.7488H1.98C1.90199 3.7488 1.82475 3.76587 1.75269 3.79904C1.68062 3.83221 1.61514 3.88082 1.55998 3.94211C1.50482 4.0034 1.46107 4.07615 1.43122 4.15623C1.40136 4.2363 1.386 4.32213 1.386 4.4088V6.9773L18.414 6.9927V4.4088C18.414 4.32213 18.3986 4.2363 18.3688 4.15623C18.3389 4.07615 18.2952 4.0034 18.24 3.94211C18.1849 3.88082 18.1194 3.83221 18.0473 3.79904C17.9752 3.76587 17.898 3.7488 17.82 3.7488H15.1371V4.7707C15.1371 4.97492 15.0641 5.17077 14.9341 5.31517C14.8042 5.45958 14.6279 5.5407 14.4441 5.5407C14.2603 5.5407 14.084 5.45958 13.9541 5.31517C13.8241 5.17077 13.7511 4.97492 13.7511 4.7707V3.7488H6.30927V4.7608C6.30927 4.96502 6.23626 5.16087 6.1063 5.30527C5.97633 5.44968 5.80006 5.5308 5.61627 5.5308C5.43247 5.5308 5.25621 5.44968 5.12624 5.30527C4.99628 5.16087 4.92327 4.96502 4.92327 4.7608V3.7488Z" fill="#061D19" />
                        </g>
                        <defs>
                          <clipPath id="clip0_600_6756">
                            <rect width="19.8" height="22" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>26 August 2024 <span>|</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M4.9668 17.5C4.9668 14.2783 7.57847 11.6667 10.8001 11.6667C14.0218 11.6667 16.6335 14.2783 16.6335 17.5M14.1335 5.83333C14.1335 7.67428 12.641 9.16667 10.8001 9.16667C8.95918 9.16667 7.4668 7.67428 7.4668 5.83333C7.4668 3.99238 8.95918 2.5 10.8001 2.5C12.641 2.5 14.1335 3.99238 14.1335 5.83333Z" stroke="#061D19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>Alex Roy
                    </a>
                  </li>
                </ul>
              </div>
              <div class="space24"></div>
              <h4 class="vl-blog-1-title"><a href="blog-single">The Top 5 Financial Mistakes Businesses Finance Make – And How to Avoid Them</a></h4>
              <div class="vl-blog-1-icon">
                <a href="blog-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
                    <path d="M16.0918 32.8674L32.426 16.5333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.0605 16.5315H32.4249V29.8958" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="/img/all-images/blog/blog-img9.png" alt="" />
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
                        <g clip-path="url(#clip0_600_6756)">
                          <path d="M5.61627 0C5.80006 0 5.97633 0.0811248 6.1063 0.225528C6.23626 0.369931 6.30927 0.565783 6.30927 0.77V2.2099H13.7511V0.7799C13.7511 0.575683 13.8241 0.379831 13.9541 0.235428C14.084 0.0910248 14.2603 0.0099 14.4441 0.0099C14.6279 0.0099 14.8042 0.0910248 14.9341 0.235428C15.0641 0.379831 15.1371 0.575683 15.1371 0.7799V2.2099H17.82C18.345 2.2099 18.8484 2.44153 19.2197 2.85388C19.591 3.26622 19.7997 3.82551 19.8 4.4088V19.8011C19.7997 20.3844 19.591 20.9437 19.2197 21.356C18.8484 21.7684 18.345 22 17.82 22H1.98C1.45504 22 0.951572 21.7684 0.580278 21.356C0.208985 20.9437 0.000262479 20.3844 0 19.8011L0 4.4088C0.000262479 3.82551 0.208985 3.26622 0.580278 2.85388C0.951572 2.44153 1.45504 2.2099 1.98 2.2099H4.92327V0.7689C4.92353 0.564874 4.99666 0.369304 5.12659 0.225139C5.25653 0.0809736 5.43265 -2.0819e-07 5.61627 0ZM1.386 8.5162V19.8011C1.386 19.8878 1.40136 19.9736 1.43122 20.0537C1.46107 20.1337 1.50482 20.2065 1.55998 20.2678C1.61514 20.3291 1.68062 20.3777 1.75269 20.4109C1.82475 20.444 1.90199 20.4611 1.98 20.4611H17.82C17.898 20.4611 17.9752 20.444 18.0473 20.4109C18.1194 20.3777 18.1849 20.3291 18.24 20.2678C18.2952 20.2065 18.3389 20.1337 18.3688 20.0537C18.3986 19.9736 18.414 19.8878 18.414 19.8011V8.5316L1.386 8.5162ZM6.60033 16.0809V17.9135H4.95V16.0809H6.60033ZM10.7247 16.0809V17.9135H9.07533V16.0809H10.7247ZM14.85 16.0809V17.9135H13.1997V16.0809H14.85ZM6.60033 11.7062V13.5388H4.95V11.7062H6.60033ZM10.7247 11.7062V13.5388H9.07533V11.7062H10.7247ZM14.85 11.7062V13.5388H13.1997V11.7062H14.85ZM4.92327 3.7488H1.98C1.90199 3.7488 1.82475 3.76587 1.75269 3.79904C1.68062 3.83221 1.61514 3.88082 1.55998 3.94211C1.50482 4.0034 1.46107 4.07615 1.43122 4.15623C1.40136 4.2363 1.386 4.32213 1.386 4.4088V6.9773L18.414 6.9927V4.4088C18.414 4.32213 18.3986 4.2363 18.3688 4.15623C18.3389 4.07615 18.2952 4.0034 18.24 3.94211C18.1849 3.88082 18.1194 3.83221 18.0473 3.79904C17.9752 3.76587 17.898 3.7488 17.82 3.7488H15.1371V4.7707C15.1371 4.97492 15.0641 5.17077 14.9341 5.31517C14.8042 5.45958 14.6279 5.5407 14.4441 5.5407C14.2603 5.5407 14.084 5.45958 13.9541 5.31517C13.8241 5.17077 13.7511 4.97492 13.7511 4.7707V3.7488H6.30927V4.7608C6.30927 4.96502 6.23626 5.16087 6.1063 5.30527C5.97633 5.44968 5.80006 5.5308 5.61627 5.5308C5.43247 5.5308 5.25621 5.44968 5.12624 5.30527C4.99628 5.16087 4.92327 4.96502 4.92327 4.7608V3.7488Z" fill="#061D19" />
                        </g>
                        <defs>
                          <clipPath id="clip0_600_67561">
                            <rect width="19.8" height="22" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>26 August 2024 <span>|</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M4.9668 17.5C4.9668 14.2783 7.57847 11.6667 10.8001 11.6667C14.0218 11.6667 16.6335 14.2783 16.6335 17.5M14.1335 5.83333C14.1335 7.67428 12.641 9.16667 10.8001 9.16667C8.95918 9.16667 7.4668 7.67428 7.4668 5.83333C7.4668 3.99238 8.95918 2.5 10.8001 2.5C12.641 2.5 14.1335 3.99238 14.1335 5.83333Z" stroke="#061D19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>Jos Butler
                    </a>
                  </li>
                </ul>
              </div>
              <div class="space24"></div>
              <h4 class="vl-blog-1-title"><a href="blog-single">Mastering Financial Strategies Helping You Make Informed Decisions for Long</a></h4>
              <div class="vl-blog-1-icon">
                <a href="blog-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
                    <path d="M16.0918 32.8674L32.426 16.5333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.0605 16.5315H32.4249V29.8958" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== BLOG AREA ENDS ======= -->

  <!-- ===== CTA AREA STARTS ======= -->
  <div class="cta4-section-area sp4" style="background-image: url(/img/all-images/bg/bg5.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="cta-header">
            <h5><img src="/img/icons/sub-logo1.svg" alt="" /> Schedule Your Free Consultation</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">Let’s Grow Your Business Together -Contact Now</h2>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="cta-author-area">
                <div class="icons">
                  <img src="/img/icons/phn5.svg" alt="" />
                </div>
                <div class="text">
                  <p>Call Us 24/7</p>
                  <div class="space18"></div>
                  <a href="tel:+1234567890">+123 456 7890</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="cta-author-area">
                <div class="icons">
                  <img src="/img/icons/mail5.svg" alt="" />
                </div>
                <div class="text">
                  <p>Mail Us Anytime</p>
                  <div class="space18"></div>
                  <a href="mailto:finazze@gmail.com">finazze@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CTA AREA ENDS ======= -->

  <!-- ===== FOOTER AREA STARTS ======= -->
  <div class="vl-footer4-section-area sp8">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-logo1">
            <img src="/img/logo/logo1.png" alt="" />
            <div class="space24"></div>
            <p>We are committed to providing with the highest level of service expertise business and finance if you have any.</p>
            <div class="space24"></div>
            <ul>
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" class="m-0"><i class="fa-brands fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="space30 d-md-none d-block"></div>
          <div class="vl-footer-widget first-padding">
            <h3>Quick Links</h3>
            <div class="space4"></div>
            <ul>
              <li>
                <a href="about">About Us</a>
              </li>
              <li>
                <a href="service">Our Services</a>
              </li>
              <li>
                <a href="project">Case Studies</a>
              </li>
              <li>
                <a href="pricing">Pricing Plan</a>
              </li>
              <li>
                <a href="contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget">
            <div class="space30 d-lg-none d-block"></div>
            <h3>Contact Us</h3>
            <ul>
              <li>
                <a href="tel:+11234567890"><img src="/img/icons/phn1.svg" alt="" />+1 123 456 7890</a>
              </li>
              <li>
                <a href="#"><img src="/img/icons/location1.svg" alt="" />421 Allen, Mexico 4233</a>
              </li>
              <li>
                <a href="renevagency@com"><img src="/img/icons/email1.svg" alt="" />finazzeconsult@com</a>
              </li>
              <li>
                <a href="#"><img src="/img/icons/global1.svg" alt="" />finazzeconsult.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget">
            <div class="space30 d-lg-none d-block"></div>
            <h3>Instagram Post</h3>
            <div class="space8"></div>
            <div class="row">
              <div class="col-lg-4 col-4">
                <div class="footer-img">
                  <img src="/img/all-images/footer/footer-img1.png" alt="" />
                  <div class="icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-4">
                <div class="footer-img">
                  <img src="/img/all-images/footer/footer-img2.png" alt="" />
                  <div class="icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-4">
                <div class="footer-img">
                  <img src="/img/all-images/footer/footer-img3.png" alt="" />
                  <div class="icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-4">
                <div class="footer-img">
                  <img src="/img/all-images/footer/footer-img4.png" alt="" />
                  <div class="icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-4">
                <div class="footer-img">
                  <img src="/img/all-images/footer/footer-img5.png" alt="" />
                  <div class="icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-4">
                <div class="footer-img">
                  <img src="/img/all-images/footer/footer-img6.png" alt="" />
                  <div class="icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="vl-copyright-area">
            <p>© Copyright 2025 - Finazze. All Right Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== FOOTER AREA ENDS ======= -->
<%- contentFor('extra_javascript') %>
