<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="inner-pages-section-area" style="background-image: url(/img/all-images/bg/hero-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="inner-header text-center">
            <h2>Our Projects Details</h2>
            <div class="space24"></div>
            <a href="index">Home <i class="fa-solid fa-angle-right"></i> <span>Our Projects Details</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== PROJECT AREA STARTS ======= -->
  <div class="project-details-siderbars-area sp8">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="service-main-detailsarea rightpadding">
            <h3>Project Titan: Building Financial Resilience</h3>
            <div class="space16"></div>
            <p>Our projects are designed to drive meaningful outcomes for businesses across various industries. Each initiative focuses on delivering customized financial solutions, from optimizing cash flow and improving operational efficiency to navigating complex mergers and acquisitions.</p>
            <div class="row">
              <div class="col-lg-3 col-md-4 col-6">
                <div class="divided-area">
                  <h5>Category</h5>
                  <div class="space16"></div>
                  <p>Business & Finance</p>
                </div>
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <div class="divided-area">
                  <h5>Client</h5>
                  <div class="space16"></div>
                  <p>David Millar</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-6">
                <div class="divided-area">
                  <h5>Location</h5>
                  <div class="space16"></div>
                  <p>73 Bridge St Brooklyn, USA.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <div class="divided-area">
                  <h5>Date</h5>
                  <div class="space16"></div>
                  <p>720/10/2024</p>
                </div>
              </div>
            </div>
            <div class="space32"></div>
            <div class="img1">
              <img src="/img/all-images/project/project-img26.png" alt="" />
            </div>
            <div class="space32"></div>
            <h3>Consolidation and Deconsolidation Services</h3>
            <div class="space20"></div>
            <p>We work closely with our clients to understand their unique challenges, providing strategic insights and tailored plans that align with their long-term objectives. With a proven track record of success, our projects not only solve immediate financial concerns but also lay the foundation for sustainable.</p>
            <div class="space20"></div>
            <p>Our Global Shipping Services guarantee that your products reach global markets on time, leveraging our strategic partnerships and logistical expertise. For domestic logistics, our Domestic Transport Solutions provide reliable, flexible delivery options across the country.</p>
            <div class="service-details-box">
              <p>Our portfolio of projects showcases our ability to deliver comprehensive financial solutions that drive business transformation. Whether it's a company through a complex merger, developing growth strategy for market expansion, or enhancing financial reporting compliance.</p>
            </div>
            <div class="space32"></div>
            <div class="list-area2">
              <div class="row">
                <div class="col-lg-4">
                  <ul>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" />Powerful database store
                    </li>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" />Easy to access all projects
                    </li>
                  </ul>
                </div>

                <div class="col-lg-4">
                  <ul>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" />Finance Consultancy
                    </li>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" />Social Media Marketing
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" />Banking Consultancy
                    </li>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" />Inventory Optimizaion
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="space32"></div>
            <h3>Innovative Financial Projects</h3>
            <div class="space20"></div>
            <p>From strategic financial planning and capital restructuring to tax optimization and risk management, our projects span a wide array of business and finance solutions. We collaborate closely with our clients to develop tailored strategies that address their unique goals, whether it's enhancing.</p>
            <div class="space32"></div>
            <div class="row align-items-center">
              <div class="col-lg-6 .col-md-6">
                <div class="img1">
                  <img src="/img/all-images/project/project-img27.png" alt="" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="space30 d-md-none d-block"></div>
                <div class="list-area">
                  <p>Whether it's expanding into new or enhancing revenue streams, our expert team ensures that every project achieves measurable success Our projects are driven by commitment excellence and a deep understanding of the financial.</p>
                  <ul>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" /> Powerful database store
                    </li>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" /> Effortless courier allocation
                    </li>
                    <li>
                      <img src="/img/icons/check2.svg" alt="" /> Easy to access all projects
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="space32"></div>
            <h3>Future-Focused Initiatives</h3>
            <div class="space20"></div>
            <p>With a focus on innovation and efficiency, each project is meticulously planned and executed to deliver results that exceed expectations. Our proven methodologies ensure that our clients can achieve sustainable growth, remain competitive, & confidently navigate an evolving financial landscape.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="project-side-widget">
            <div class="search-area">
              <h3>Search</h3>
              <div class="space24"></div>
              <form>
                <input type="text" placeholder="Search..." />
                <button type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M22.5757 14.2934C22.5757 18.6724 18.9564 22.2528 14.4539 22.2528C9.95128 22.2528 6.33203 18.6724 6.33203 14.2934C6.33203 9.91439 9.95128 6.33398 14.4539 6.33398C18.9564 6.33398 22.5757 9.91439 22.5757 14.2934Z" stroke="white" stroke-width="2" />
                    <path d="M25.9545 27.3757C26.3485 27.7627 26.9873 27.7627 27.3814 27.3757C27.7754 26.9887 27.7754 26.3612 27.3814 25.9742L25.9545 27.3757ZM19.4389 20.9761L25.9545 27.3757L27.3814 25.9742L20.8658 19.5747L19.4389 20.9761Z" fill="white" />
                  </svg>
                </button>
              </form>
            </div>
            <div class="space30"></div>
            <div class="popular-tags">
              <h3>Popular Tags</h3>
              <div class="space8"></div>
              <ul>
                <li>
                  <a href="#">Financial Success</a>
                </li>
                <li>
                  <a href="#">Business Growth</a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="#">Strategic Planning</a>
                </li>
                <li>
                  <a href="#">Management</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Flow Solutions</a>
                </li>
                <li>
                  <a href="#">Tax Optimization</a>
                </li>
              </ul>
            </div>
            <div class="space30"></div>
            <div class="help-area">
              <h3>If You Need Any Help <br class="d-lg-block d-none" /> Contact With Us</h3>
              <div class="space24"></div>
              <div class="btn-area1">
                <a href="tel:+1234567890">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
                      <path d="M1.64362 5.57135C1.40487 3.99885 2.51362 2.58635 4.20737 2.06885C4.50794 1.97695 4.83224 2.00311 5.11419 2.142C5.39614 2.28089 5.61453 2.52205 5.72487 2.81635L6.26862 4.26635C6.35615 4.49962 6.37198 4.75372 6.31407 4.99605C6.25616 5.23837 6.12716 5.45786 5.94362 5.62635L4.32612 7.1076C4.24639 7.18077 4.18698 7.27335 4.15368 7.37631C4.12038 7.47927 4.11433 7.5891 4.13612 7.6951L4.15112 7.7601L4.18987 7.9226C4.39103 8.71216 4.69753 9.47105 5.10112 10.1789C5.54076 10.931 6.08635 11.6159 6.72112 12.2126L6.77112 12.2576C6.85187 12.3293 6.94981 12.3788 7.0554 12.4014C7.16099 12.4239 7.27062 12.4188 7.37362 12.3864L9.46487 11.7276C9.70253 11.653 9.95707 11.6511 10.1958 11.7221C10.4346 11.7932 10.6467 11.9339 10.8049 12.1264L11.7949 13.3276C12.2074 13.8276 12.1574 14.5626 11.6836 15.0039C10.3874 16.2126 8.60487 16.4601 7.36487 15.4639C5.8449 14.2378 4.56356 12.7425 3.58487 11.0526C2.59823 9.36403 1.94044 7.50439 1.64362 5.57135ZM5.44737 7.7776L6.78737 6.5476C7.15466 6.21077 7.41291 5.77185 7.52895 5.2872C7.64499 4.80254 7.61354 4.29425 7.43862 3.8276L6.89612 2.3776C6.67405 1.78541 6.23453 1.30018 5.66714 1.02078C5.09974 0.741374 4.44716 0.68883 3.84237 0.873852C1.73862 1.5176 0.0498675 3.40385 0.407368 5.7601C0.657368 7.4051 1.23362 9.4976 2.50487 11.6826C3.56076 13.5047 4.94294 15.117 6.58237 16.4389C8.44237 17.9326 10.9249 17.4226 12.5374 15.9201C12.9988 15.4905 13.2788 14.901 13.3204 14.272C13.362 13.6429 13.1619 13.0217 12.7611 12.5351L11.7711 11.3326C11.4544 10.9482 11.0301 10.6672 10.5526 10.5255C10.0751 10.3839 9.5662 10.3881 9.09112 10.5376L7.35487 11.0839C6.90658 10.6216 6.51391 10.1086 6.18487 9.5551C5.86702 8.99555 5.61932 8.39898 5.44737 7.77885V7.7776Z" fill="white" />
                    </svg>
                  </span> +123 456 7890
                </a>
              </div>
            </div>

            <div class="space30"></div>
            <div class="social-area">
              <h3>Follow Us</h3>
              <div class="space24"></div>
              <ul>
                <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
            <div class="space30"></div>
            <div class="project-contact">
              <h3>Get A Free Quote</h3>
              <div class="space8"></div>
              <div class="input-area">
                <input type="text" placeholder="Your Name" />
              </div>

              <div class="input-area">
                <input type="email" placeholder="Email Address" />
              </div>

              <div class="input-area">
                <input type="number" placeholder="Phone Number" />
              </div>

              <div class="input-area">
                <textarea placeholder="Your Message"></textarea>
              </div>
              <div class="space8"></div>
              <div class="input-area text-end">
                <button type="submit" class="vl-btn1">Send Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-inner-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="heading1 text-center space-margin60">
            <h2>More Projects</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img17.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Future Forward Pioneering New Frontiers</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img18.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Project Titan: Building Financial Resilience</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img19.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Project Ascend: Elevating Business Potential</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== PROJECT AREA ENDS ======= -->
<%- contentFor('extra_javascript') %>
